@model SubsidiaryAddedViewModel

@{
    ViewData["Title"] = Localizer["page_title_subsidiary_added"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    @Localizer["subsidiary_added"]
                </h1>
                <div class="govuk-panel__body">
                    @Localizer["subsidiary_id_for"] @Model.OrganisationName:
                    <br />
                    <strong>@Model.OrganisationId</strong>
                </div>
            </div>
            <h2 class="govuk-heading-m">@Localizer["what_happens_next"]</h2>
            <p class="govuk-body">
                @Localizer["you_have_linked_this_subsidiary"]
            </p>
            <p class="govuk-body">
                @Localizer["when_you_report_on_this_subsidiary"]: <strong>@Model.OrganisationId</strong>
            </p>
            <br />
            <div class="govuk-button-group">
                @Html.ActionLink(Localizer["view_subsidiaries"].Value,
                         "SubsidiariesList",
                         "FileUploadSubsidiaries",
                         new { organisationId = Model.OrganisationId },
                         new { @class = "govuk-button", @datamodule = "govuk-button" })
                @Html.ActionLink(Localizer["return_to_account_home"].Value,
                         "Get",
                         "Landing",
                         null,
                         new { @class = "govuk-link govuk-link--no-visited-state" })
            </div>
        </div>
    </div>
</main>