@using FrontendSchemeRegistration.Application.DTOs.Submission
@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.Sessions
@using Microsoft.FeatureManagement
@inject IFeatureManager FeatureManager
@inject IOptions<SiteDateOptions> DateOptions

@model ComplianceSchemeLandingViewModel

@{
    ViewData["Title"] = Localizer["home"];

    // this is part of the new packaging data resubmission journey
    var isSubmitted = Model.ResubmissionTaskListViewModel?.IsSubmitted;
    var isResubmissionComplete = Model.ResubmissionTaskListViewModel?.IsResubmissionComplete;
    var isPackagingResubmissionApplicationStarted = Model.ResubmissionTaskListViewModel?.ApplicationStatus != ApplicationStatusType.NotStarted;
    var isResubmissionInProgress = isSubmitted == true && isPackagingResubmissionApplicationStarted && Model.ResubmissionTaskListViewModel?.IsResubmissionInProgress == true;
}



<main class="govuk-main-wrapper" id="main-content" role="main">

    @if (Model.Notification.HasNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedAsDelegatedPerson", Model.Notification.NominatedEnrolmentId)
    }
    @if (Model.Notification.HasApprovedPersonNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedApprovedPerson", Model.Notification.NominatedApprovedPersonEnrolmentId)
    }

    @await Component.InvokeAsync("PendingApprovalNotification")
    @await Component.InvokeAsync("ApprovedPerconInvitationSubmittedNotification")

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl break-word">@Localizer["account_home", Model.OrganisationName]</h1>
        </div>
    </div>

    <feature name="@FeatureFlags.ShowRegistrationWarning">
        @await Html.PartialAsync("Partials/Notifications/_ApplyForRegistration", true)
    </feature>

    @if (Model.Notification.HasPendingNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_WaitingForApproval")
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div id="compliance-scheme-tabs" class="govuk-tabs govuk-tabs-custom" data-module="govuk-tabs">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <ul class="govuk-tabs__list">
                        @foreach (var complianceScheme in Model.ComplianceSchemes)
                        {
                            <li class="govuk-tabs__list-item @(complianceScheme.Id == Model.CurrentComplianceSchemeId ? "govuk-tabs__list-item--selected" : "")">
                                <button type="submit" class="govuk-tabs__tab govuk-!-text-align-left" name="selectedComplianceSchemeId" value="@complianceScheme.Id">
                                    @complianceScheme.Name
                                </button>
                            </li>
                        }
                    </ul>

                    <feature name="ShowComplianceSchemeMemberManagement">
                        <div class="govuk-tabs__panel" id="#tab-panel-@Model.CurrentComplianceSchemeId">
                            <div class="govuk-label--m scheme-name">@Model.CurrentTabSummary.Name</div>

                            @if (Model.CurrentTabSummary.Nation.HasValue)
                            {
                                var theRegulator = Model.CurrentTabSummary.Nation.Value switch
                                {
                                    Nation.England => Localizer["summary-regulator-england"],
                                    Nation.Scotland => Localizer["summary-regulator-scotland"],
                                    Nation.Wales => Localizer["summary-regulator-wales"],
                                    Nation.NorthernIreland => Localizer["summary-regulator-northern-ireland"],
                                    _ => Localizer["summary-regulator"]
                                };

                                <div class="govuk-heading-l">@Localizer["summary-data-for"] @theRegulator</div>
                            }
                            <div class="govuk-inset-text">
                                <div>
                                    @Localizer["summary-your-account-is-linked-to"] @Model.CurrentTabSummary.MemberCount
                                    @(Model.CurrentTabSummary.MemberCount == 1 ? @Localizer["summary-member"] : @Localizer["summary-members"]).
                                </div>
                                @if (Model.CurrentTabSummary is { MemberCount: > 0, MembersLastUpdatedOn: not null })
                                {
                                    <div class="last-updated-date">@Localizer["summary-last-updated"]: @Model.CurrentTabSummary.MembersLastUpdatedOn.Value.ToString(DateOptions.Value.DateFormat)</div>

                                    <a class="govuk-link--no-visited-state" href="@Url.Action("SchemeMembers", "SchemeMembership", new { complianceSchemeId = Model.CurrentComplianceSchemeId })">
                                        @(Model.IsApprovedUser ? Localizer["summary-view-and-remove-members"] : Localizer["summary-view-members"])
                                    </a>
                                }
                                else
                                {
                                    <div class="members-info">@Localizer["summary-members-info"]</div>
                                }
                            </div>
                        </div>
                    </feature>
                    <feature name="ShowComplianceSchemeMemberManagement" negate="true">
                        <div class="govuk-!-margin-bottom-4">&nbsp;</div>
                    </feature>
                }
            </div>

            <div class="govuk-grid-row box-container">
                <div class="govuk-grid-column-one-half box">
                    <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                        <div class="govuk-card-body">
                            <h2 class="govuk-heading-m">
                                <a asp-controller="RegistrationApplication" asp-action="@Model.RegistrationApplicationLink" class="govuk-link govuk-link--no-visited-state">
                                    @Localizer["registration"]
                                </a>
                            </h2>
                            <p class="govuk-body">
                                @{
                                    ShowProgressStatus(Model);
                                }
                            </p>
                        </div>
                    </div>
                </div>

                <div class="govuk-grid-column-one-half box">
                    <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                        <div class="govuk-card-body">
                            <h2 class="govuk-heading-m govuk-link">
                                @Html.ActionLink(
                                         Localizer["members_organisation_details"].Value,
                                         "Get",
                                         "FileUploadCompanyDetailsSubLanding",
                                         null,
                                         new
                                         {
                                             @class = "govuk-link--no-visited-state"
                                         })
                            </h2>
                            <p class="govuk-body">@Localizer["you_must_report_org_data"]</p>
                            <p class="govuk-body">@Localizer["you_can_also"]</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>@Localizer["resubmit_your_organisation_details"]</li>
                                <li>@Localizer["report_changes_to_your_organisation_details"]</li>
                                <li>@Localizer["view_your_history"]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row box-container">
                <div class="govuk-grid-column-one-half box">
                    <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                        <div class="govuk-card-body">
                            <h2 class="govuk-heading-m govuk-link">
                                @Html.ActionLink(
                                         Localizer["members_packaging_data"].Value,
                                         "Get",
                                         "FileUploadSubLanding",
                                         null,
                                         new
                                         {
                                             @class = "govuk-link--no-visited-state"
                                         })
                            </h2>

                            @if (FeatureManager.IsEnabledAsync(nameof(FeatureFlags.ImplementPackagingDataResubmissionJourney)).Result)
                            {
                                <!-- this is part of the new packaging data resubmission journey -->
                                @if (!isSubmitted.HasValue || isSubmitted == false)
                                {
                                    <p class="govuk-body">@Localizer["you_must_report_packaging_data"]</p>
                                }
                                else if (isSubmitted == true && !isPackagingResubmissionApplicationStarted)
                                {
                                    <p class="govuk-body">@Localizer["you_must_report_packaging_data"]</p>
                                    <p class="govuk-body">@Localizer["you_can_also"]</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>@Localizer["resubmit_your_packaging_data"]</li>
                                        <li>@Localizer["view_your_history"]</li>
                                    </ul>
                                }
                                else if (isResubmissionInProgress)
                                {
                                    <p class="govuk-body">@Localizer["you_must_report_packaging_data"]</p>
                                    <p class="govuk-body">@Localizer["you_are_currenlty_resubmitting_data"]</p>
                                    <p class="govuk-body">@Localizer["you_still_need_to_view_any_additional_fees"]</p>
                                }
                                else if (isResubmissionComplete.HasValue && isResubmissionComplete == true)
                                {
                                    <p class="govuk-body">@Localizer["you_are_currenlty_resubmitting_data_period"]</p>
                                    <p class="govuk-body">@Localizer["you_can_also"]</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>@Localizer["resubmit_your_packaging_data"]</li>
                                        <li>@Localizer["view_your_history"]</li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <!--this is part of the old registration submission journey  -->
                                <p class="govuk-body">@Localizer["you_must_report_packaging_data"]</p>
                                <p class="govuk-body">@Localizer["you_can_also"]</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>@Localizer["resubmit_your_packaging_data"]</li>
                                    <li>@Localizer["view_your_history"]</li>
                                </ul>
                            }

                        </div>
                    </div>
                </div>
                <feature name="@FeatureFlags.ShowSubsidiaries">
                    <div class="govuk-grid-column-one-half box">
                        <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                            <div class="govuk-card-body">
                                <h2 class="govuk-heading-m">
                                    @Html.ActionLink(
                                             Localizer["subsidiaries"].Value,
                                             "SubsidiariesList",
                                             "FileUploadSubsidiaries",
                                             null,
                                             new
                                             {
                                                 @class = "govuk-link govuk-link--no-visited-state"
                                             })
                                </h2>
                                <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["add-manage-subsidiaries"]</p>
                            </div>
                        </div>
                    </div>
                </feature>

            </div>
            <div class="govuk-grid-row box-container">
                <feature name="@FeatureFlags.ShowPrn">
                    <div class="govuk-grid-column-one-half box">
                        <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                            <div class="govuk-card-body">
                                <h2 class="govuk-heading-m">
                                    <a href="@FrontendSchemeRegistration.Application.Constants.PagePaths.Prns.ObligationsHome"
                                       class="govuk-link--no-visited-state">@Localizer["prn_heading_text", Model.CurrentYear]</a>
                                </h2>
                                <p class="govuk-body">
                                    @Localizer["prn_paragraph_1"]
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>@Localizer["prn_unordered_list_point_1"]</li>
                                    <li>@Localizer["prn_unordered_list_point_2"]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </feature>
            </div>
        </div>
    </div>
</main>

@{
    void ShowProgressStatus(ComplianceSchemeLandingViewModel model)
    {
        var isResubmissionApprovedRejected = model is { IsResubmission: true, ApplicationStatus: ApplicationStatusType.AcceptedByRegulator or ApplicationStatusType.ApprovedByRegulator or ApplicationStatusType.RejectedByRegulator };
        var isResubmissionPending = model is { IsResubmission: true, AdditionalDetailsStatus: RegistrationTaskListStatus.Completed };

        if (isResubmissionApprovedRejected || isResubmissionPending)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.CurrentYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>

                @if (isResubmissionApprovedRejected)
                {
                    if (model.ApplicationStatus is ApplicationStatusType.AcceptedByRegulator or ApplicationStatusType.ApprovedByRegulator)
                    {
                        <p class="govuk-body"><strong>@Localizer["Your_resubmitted_data_has_been_accepted"]</strong></p>
                    }
                    else if (model.ApplicationStatus == ApplicationStatusType.RejectedByRegulator)
                    {
                        <p class="govuk-body"><strong>@Localizer["Your_resubmitted_registration_data_was_rejected"]</strong></p>
                    }

                    <p class="govuk-body">
                        <a href="@FrontendSchemeRegistration.Application.Constants.PagePaths.UpdateRegistrationGuidance" class="govuk-link govuk-link--no-visited-state">
                            <strong>@Localizer["Resubmit_your_data_files"]</strong>
                        </a>
                    </p>
                }
                else
                {
                    <p class="govuk-body">@Localizer["You_have_resubmitted_registration_data"]</p>
                }
            </div>
        }
        else if (model.ApplicationStatus
                     is ApplicationStatusType.AcceptedByRegulator
                     or ApplicationStatusType.ApprovedByRegulator
            || model is {
                IsResubmission: true,
                ApplicationStatus: ApplicationStatusType.NotStarted
                or ApplicationStatusType.FileUploaded
                or ApplicationStatusType.SubmittedAndHasRecentFileUpload
            })
        {
            <div>
                <p class="govuk-body">
                    @Localizer["Your_registration_for_x_has_been_granted", model.CurrentYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]
                </p>
                <p class="govuk-body"><strong>@Localizer["If_anything_changes_you_should_resubmit"]</strong></p>
                <p class="govuk-body">
                    <a href="@FrontendSchemeRegistration.Application.Constants.PagePaths.UpdateRegistrationGuidance"
                       class="govuk-link govuk-link--no-visited-state">
                        <strong>@Localizer["Resubmit_your_data_files"]</strong>
                    </a>
                </p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.QueriedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["The_regulator_has_identified_a_potential_issue"]</p>
                <p class="govuk-body">@Localizer["You_will_need_to_submit_a_corrected_registration_data_file"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.RejectedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_refused", model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["Contact_the_regulator_for_further_advice"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.CancelledByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_X_has_been_cancelled", model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["Contact_your_regulator_if_you_need_advice"]</p>
            </div>
        }
        else if (model.AdditionalDetailsStatus == RegistrationTaskListStatus.Completed)
        {
            if (model.IsResubmission)
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.CurrentYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>                    
                </div>
            }
            else
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_submitted", model.CurrentYear]</p>
                </div>
            }
        }
        else if (model is { IsResubmission: false, PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_viewed_your_registration_fees"]</p>
                <p class="govuk-body">@Localizer["Payment_must_be_made_before_submitting_your_x", model.CurrentYear]</p>
            </div>
        }
        else if (model is { IsResubmission: false, FileUploadStatus: RegistrationTaskListStatus.Completed, PaymentViewStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data_for_x", Model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods"]</p>
            </div>
        }
        else if (model.IsResubmission && (model.FileUploadStatus is RegistrationTaskListStatus.Pending && model.PaymentViewStatus is RegistrationTaskListStatus.CanNotStartYet
                                          || model.FileUploadStatus is RegistrationTaskListStatus.Completed && model.PaymentViewStatus is RegistrationTaskListStatus.NotStarted))
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_resubmitted_your_registration_data_for_x", Model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods"]</p>
            </div>
        }
        else if (model.IsResubmission && model is { PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_updated_your_data_and_viewed_your_fees"]</p>
                <p class="govuk-body">@Localizer["You_now_need_to_submit_to_the_regulator"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.SubmittedToRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data"]</p>
                <p class="govuk-body">@Localizer["You_will_then_need_to_pay_your_registration_fee"]</p>
            </div>
        }
        else
        {
            <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["you_need_to_register_by_1_April", Model.CurrentYear] @Localizer["Apply_by_1st_April_x", Model.CurrentYear]</p>
        }
    }
}