@using FrontendSchemeRegistration.Application.Constants

@model AllSubsidiaryListViewModel

@{
    ViewData["Title"] = Localizer["subsidiaries"];

    var subsidiaryNameHeader = Localizer["subsidiary_name"];
    var subsidiaryIdHeader = Localizer["subsidiary_id"];
    var companiesHouseNumberHeader = Localizer["companies_house_number"];
    var joinedHeader = Localizer["joined"];
    var reportingHeader = Localizer["reporting"];
    var removeSubsidiaryLinkText = Localizer["remove_subsidiary"];
    var hasSubsidiaries = Model.Subsidiaries.Count > 0 || !string.IsNullOrEmpty(Model.SearchTerm);
    var isDirectProducer = Model.IsDirectProducer;
    var isSingleUploadJourneyEnabled = await FeatureManager.IsEnabledAsync(FeatureFlags.ShowSubsidiariesSingleUploadJourney);

    var subsidiaryNotFoundWarningText = isSingleUploadJourneyEnabled
      ? Localizer["subsidiary_not_found_resubmit_with_add_single_subsidiary"]
      : Localizer["subsidiary_not_found_resubmit_warning_text"];

    var createSubsidiaryIdLink = isDirectProducer && isSingleUploadJourneyEnabled ? "#add_single_subsidiary_button" : "#create-subsidiary";

}

@inject Microsoft.FeatureManagement.IFeatureManager FeatureManager

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @if (Model.IsFileUploadInProgress)
            {
                var url = Url.Action();
                @await Html.PartialAsync("Partials/FileUploadSubsidiaries/_FileUploadNotification", url)
            }

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }

            @if (Model.IsFileUploadInProgress && Model.Subsidiaries.Count == 0)
            {
                <p class="govuk-body govuk-!-margin-bottom-6">@Localizer["subsidiaries_will_appear"]</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">

                        <a class="govuk-button" href="@Url.Action("Get", "Landing")" role="button" data-module="govuk-button">
                            @Localizer["return_to_account_home"]
                        </a>
                    </div>
                </div>
            }
            else
            {
                @if (hasSubsidiaries)
                {
                    <h1 class="govuk-heading-xl">@Localizer["subsidiaries"]</h1>
                    <div class="govuk-warning-text govuk-!-padding-bottom-7 govuk-phase-banner">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">@Localizer["text_assistive.warning"]</span>
                            @Localizer["subsidiary_accuracy_warning_text"]
                        </strong>

                        <div class="govuk-card govuk-card--grey govuk-card--no-border govuk-!-margin-bottom-7">
                            <div class="govuk-card-body  govuk-!-margin-top-6">
                                <form asp-controller="FileUploadSubsidiaries" asp-action="PostSearch" method="post">
                                    <div class="govuk-form-group">
                                        <label id="search-hint" for="search" class="govuk-body govuk-!-margin-bottom-2">
                                            @Localizer["search_for_a_subsidiary_by"]
                                        </label>

                                        <input type="text" class="govuk-input" id="search" name="SearchTerm"
                                               aria-describedby="search-hint"
                                               value="@(string.IsNullOrEmpty(Model.SearchTerm) ? "" : Model.SearchTerm)"
                                               list="search_values" autocomplete="off">


                                        <datalist id="search_values">
                                            @foreach (var searchOption in Model.TypeAhead)
                                            {
                                                <option value="@searchOption"></option>
                                            }
                                        </datalist>
                                        <input type="hidden" id="source" name="source" value="subsidiarySearch">
                                    </div>
                                    <div class="govuk-button-group govuk-!-display-flex govuk-!-align-items-center">
                                        <button type="submit" class="govuk-button">
                                            @Localizer["search"]
                                        </button>

                                        @Html.ActionLink(
                                                 Localizer["clear_and_reset"].Value,
                                                 "SubsidiariesList",
                                                 "FileUploadSubsidiaries",
                                                 null,
                                                 new
                                                 {
                                                     @class = "govuk-link govuk-link--no-visited-state govuk-!-margin-left-3 govuk-!-align-middle"
                                                 })
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    @if (Model.Subsidiaries.Count > 0)
                    {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-button-group">
                                <a class="govuk-button govuk-button--secondary" href="@Url.Action("SubsidiariesDownload", "FileUploadSubsidiaries")" role="button" data-module="govuk-button">@Localizer["download_subsidiaries_list"]</a>
                                <a class="govuk-link" href="@createSubsidiaryIdLink">@Localizer["create_subsidiary_ids"]</a>
                            </div>
                        </div>
                    </div>
                    <h2 class="govuk-heading-m">@Localizer["subsidiaries_list"]</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full overflow-x-auto">
                            <table class="govuk-table responsive-table">
                                <caption class="govuk-visually-hidden">@Localizer["subsidiaries_list"]</caption>
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">@subsidiaryNameHeader</th>
                                        <th scope="col" class="govuk-table__header no-wrap-text">@subsidiaryIdHeader</th>
                                        <th scope="col" class="govuk-table__header no-wrap-text">@companiesHouseNumberHeader</th>
                                        <feature name="@FeatureFlags.ShowSubsidiaryJoinerAndLeaverColumns">
                                            <th scope="col" class="govuk-table__header no-wrap-text govuk-!-padding-right-5">@joinedHeader</th>
                                            <th scope="col" class="govuk-table__header no-wrap-text">@reportingHeader</th>
                                        </feature>
                                        <feature name="ShowSubsidiariesRemoveLink">
                                            <td class="govuk-table__header no-wrap-text" />
                                        </feature>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var subsidiaryViewModel in Model.Subsidiaries)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell break-word" data-heading="@subsidiaryNameHeader">@subsidiaryViewModel.OrganisationName</td>
                                            <td class="govuk-table__cell break-word" data-heading="@subsidiaryIdHeader">@subsidiaryViewModel.OrganisationNumber</td>
                                            <td class="govuk-table__cell break-word" data-heading="@companiesHouseNumberHeader">
                                                @(!string.IsNullOrWhiteSpace(subsidiaryViewModel.CompaniesHouseNumber) ? subsidiaryViewModel.CompaniesHouseNumber : Localizer["no_ch_number"])
                                            </td>
                                            <feature name="@FeatureFlags.ShowSubsidiaryJoinerAndLeaverColumns">
                                                <td class="govuk-table__cell no-wrap-text" data-heading="@joinedHeader">
                                                    @(subsidiaryViewModel.JoinerDate?.ToString("dd MMM yyyy"))
                                                </td>
                                            </feature>
                                            <feature name="ShowSubsidiariesRemoveLink">
                                                <td class="govuk-table__cell" data-heading="@removeSubsidiaryLinkText">
                                                    <a href="@($"/report-data{PagePaths.ConfirmSubsidiaryRemoval}/{@subsidiaryViewModel.OrganisationNumber}?parentOrganisationExternalId={@subsidiaryViewModel.ParentOrganisationExternalId}")" aria-label="@Localizer["aria-confirm-subsidiary-removal-description"]" class="govuk-link--no-visited-state">
                                                        @removeSubsidiaryLinkText
                                                    </a>
                                                </td>
                                            </feature>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.PagingDetail.PageCount > 1)
                            {
                                @await Html.PartialAsync("Partials/RecordNavigation/_RecordPaging", Model.PagingDetail)

                                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                            }
                        </div>
                    </div>
                    }
                    else
                    {
                        <h2 class="govuk-heading-m">@Localizer["subsidiaries_not_found"]</h2>
                        <p class="govuk-body">@Localizer["subsidiary_not_found_message"]</p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    }
                }
                else
                {
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">@Localizer["subsidiaries"]</h1>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-inset-text">
                                <p>@subsidiaryNotFoundWarningText</p>

                            </div>

                            @if (isDirectProducer && isSingleUploadJourneyEnabled)
                            {
                                <a id="add_single_subsidiary_button" class="govuk-button" href="@Url.Action("Get", "SubsidiaryCompaniesHouseNumber")">
                                    @Localizer["add_a_single_subsidiary"]
                                </a>
                            }

                            <h2 class="govuk-heading-m">@Localizer["before_you_start"]</h2>
                            <p class="govuk-body">
                                @Localizer["before_you_upload"]
                                <a href="@GuidanceLinks.HowToCompleteSubsidiaryFile" class="govuk-link" rel="noreferrer noopener" target="_blank">@Localizer["subsidiary_file_template"]</a>.
                            </p>
                            <p class="govuk-body">
                                @Localizer["use_the_file_upload"]
                            </p>
                            <p class="govuk-body">
                                @Localizer["adding_removing_members_affect_packaging_obligations"]
                                <a href="@GuidanceLinks.PrnObligation" class="govuk-link" rel="noreferrer noopener" target="_blank">@Localizer["extended_producer_guidelines"]</a>
                            </p>

                            <h2 class="govuk-heading-m">@Localizer["upload_a_file"]</h2>
                            <p class="govuk-body">@Localizer["subsidiaries_file_must_be"]</p>
                            <ul>
                                <li>
                                    <p class="govuk-body">@Localizer["subsidiaries_smaller_than_60kb"]</p>
                                </li>
                                <li>
                                    <p class="govuk-body">@Localizer["subsidiaries_in_csv_format"]</p>
                                </li>
                            </ul>
                            <p class="govuk-body" id="file-upload-instructions">@Localizer["few_minutes_to_upload_file"]</p>
                        </div>
                    </div>
                }

                @if (!Model.IsFileUploadInProgress && hasSubsidiaries)
                {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">

                            @if (isDirectProducer && isSingleUploadJourneyEnabled)
                            {
                                <div class="govuk-inset-text">
                                    <p>@subsidiaryNotFoundWarningText</p>
                                </div>

                                <a id="add_single_subsidiary_button" class="govuk-button" href="@Url.Action("Get", "SubsidiaryCompaniesHouseNumber")">
                                    @Localizer["add_a_single_subsidiary"]
                                </a>
                            }

                            <h2 class="govuk-heading-m">@Localizer["create_subsidiary_ids"]</h2>
                            <p class="govuk-body">
                                @Localizer["use_the_file_upload"]
                            </p>
                            <p class="govuk-body">
                                @Localizer["before_you_upload"]
                                <a href="@GuidanceLinks.HowToCompleteSubsidiaryFile" class="govuk-link" rel="noreferrer noopener" target="_blank">@Localizer["subsidiary_file_template"]</a>.
                            </p>
                        </div>
                    </div>
                }

                @if (!Model.IsFileUploadInProgress)
                {
                    @using (Html.BeginForm(FormMethod.Post, new
                    {
                        enctype = "multipart/form-data"
                    }))
                    {
                        <div id="create-subsidiary" class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")" data-testid="subsidiary-data-upload-form">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                @await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("file"))
                            }

                            <label for="file" class="govuk-label" id="file-upload-label">@Localizer["upload_subsidiary_file"]</label>

                            <input class="govuk-file-upload" title="Choose a file" name="file" type="file" id="file" data-testid="subsidiary-upload-choose-file-button">
                        </div>

                        <div class="govuk-button-group">
                            <button class="govuk-button govuk-!-margin-right-4" data-module="govuk-button" type="submit" data-testid="subsidiary-data-upload-button">@SharedLocalizer["upload_file"]</button>
                            @if (hasSubsidiaries)
                            {
                                <a class="govuk-button govuk-button--secondary" href="@Url.Action("SubsidiariesDownload", "FileUploadSubsidiaries")" role="button" data-module="govuk-button">@Localizer["download_subsidiaries_list"]</a>
                            }
                        </div>

                        @if (Model.Subsidiaries.Count > 0)
                        {
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds">
                                    <h2 class="govuk-heading-m">@Localizer["adding_and_removing_subsidiaries"]</h2>

                                    <p class="govuk-body">
                                        @Localizer["to_add_or_remove"]

                                        @Html.ActionLink(
                                                 Localizer["update_and_resubmit"].Value,
                                                 "Get",
                                                 "Landing", null,
                                                 new { @class = "govuk-link govuk-link--no-visited-state" }
                                                 )

                                        @Localizer["within_28_days_of_the_change"]
                                    </p>

                                    <p class="govuk-body">
                                        @Localizer["adding_removing_members_affect_packaging_obligations"]
                                        <a href="@GuidanceLinks.PrnObligation" class="govuk-link" rel="noreferrer noopener" target="_blank">@Localizer["extended_producer_guidelines"]</a>
                                    </p>
                                </div>
                            </div>
                        }
                    }
                }

                @if (Model.IsFileUploadInProgress)
                {
                    <div class="govuk-grid-row govuk-!-padding-bottom-6">
                        <div class="govuk-grid-column-full">
                            @Html.ActionLink(Localizer["return_to_account_home"].Value, "Get", "Landing",
                                     null, new { @class = "govuk-body govuk-link govuk-link--no-visited-state" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</main>


@if (Model.IsFileUploadInProgress)
{
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/sub-status-refresh.js"></script>
}




