@model SubsidiaryFileUploadSuccessViewModel

@{
    ViewData["Title"] = Localizer["File_uploaded_successfully"];
}

<div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            @Localizer["File_uploaded_successfully"]
        </h1>
    </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-column-full">
                <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-7">@Localizer["you_added_subsidiaries"].</p>
            </div>
            <form method="get" action="@Url.Action("SubsidiariesList")">
                <div class="govuk-grid-column-full">
                    <div class="govuk-button-group">

                        <button class="govuk-button" data-module="govuk-button" type="submit">@Localizer["View_your_subsidiaries"]</button>
                        @Html.ActionLink(Localizer["return_to_account_home"].Value, "Get", "Landing",
                                 null, new { @class = "govuk-link govuk-link--no-visited-state" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>