@model SubsidiaryFileUploadSuccessViewModel

@{
    ViewData["Title"] = Localizer["File_uploaded_successfully"];
}

@inject Microsoft.FeatureManagement.IFeatureManager FeatureManager

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    @Localizer["File_uploaded_successfully"]
                </h1>
            </div>
            <p class="govuk-body">
                @string.Format(Localizer["you_added_x_subsidiaries"].Value, Model.RecordsAdded).
            </p>
            <h3 class="govuk-heading-m">@Localizer["what_happens_next"]</h3>
            <p class="govuk-body">
                @Localizer["check_that_all_the_information"]
            </p>
            <p class="govuk-body">
                @Localizer["if_any_of_your_subsidiaries"]
                @Localizer["updating_and_resubmitting"].
            </p>
            <p class="govuk-body">
                @Localizer["use_the_subsidiary_ids"]
            </p>

            <feature name="@FeatureFlags.ShowAllSubsidiaries">
                <p class="govuk-body">
                    @Localizer["adding_or_removing_members_might_affect_your_organisation"]

                    <a href="@GuidanceLinks.PrnObligation"
                       class="govuk-link" rel="noreferrer noopener" target="_blank">
                        @Localizer["guidelines_for_extended_producer_responsibility"]
                    </a>
                </p>
            </feature>

            <p class="govuk-body">
                <a class="govuk-button govuk-button--secondary" href="@Url.Action("SubsidiariesDownload", "FileUploadSubsidiaries")" role="button" data-module="govuk-button">
                    @Localizer["download_subsidiaries_list"]
                </a>
            </p>
            <form method="get" action="@Url.Action("SubsidiariesList")">
                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button" type="submit">@Localizer["View_your_subsidiaries"]</button>
                        @Html.ActionLink(Localizer["return_to_account_home"].Value, "Get", "Landing",
                                 null, new { @class = "govuk-link govuk-link--no-visited-state" })
                    </div>
            </form>
        </div>
    </div>
</main>