@model SubsidiaryListViewModel
@{
    ViewData["Title"] = Localizer["subsidiaries_list"];

    var subsidiaryNameHeader = Localizer["subsidiary_name"];
    var subsidiaryIdHeader = Localizer["subsidiary_id"];
    var companiesHouseNumberHeader = Localizer["companies_house_number"];
}
@inject Microsoft.FeatureManagement.IFeatureManager FeatureManager

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }

            <h1 class="govuk-heading-l">@Localizer["normal_header"]</h1>
            @if (Model is { Organisations.Count: > 0 })
            {
                @foreach (var organisationModel in Model.Organisations)
                {
                    @if (organisationModel.Subsidiaries.Count > 0)
                    {
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">@Localizer["text_assistive.warning"]</span>
                                @Localizer["subsidiary_accuracy_warning_text"]
                            </strong>
                        </div>
                        <h2 class="govuk-heading-m">@organisationModel.Name</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <span class="govuk-caption-m">@Localizer["organisation_id_heading"]: @organisationModel.Id</span>
                                <span class="govuk-caption-m">@Localizer["companies_house_number_heading"]: @(!string.IsNullOrWhiteSpace(organisationModel.CompaniesHouseNumber) ? organisationModel.CompaniesHouseNumber : Localizer["no_ch_number"])</span>
                            </div>
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <table class="govuk-table responsive-table">
                                    <caption class="govuk-visually-hidden">@Localizer["normal_header"]</caption>
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header">@subsidiaryNameHeader</th>
                                            <th scope="col" class="govuk-table__header">@subsidiaryIdHeader</th>
                                            <th scope="col" class="govuk-table__header">@companiesHouseNumberHeader</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        @foreach (var subsidiaryViewModel in organisationModel.Subsidiaries)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell break-word" data-heading="@subsidiaryNameHeader">@subsidiaryViewModel.Name</td>
                                                <td class="govuk-table__cell break-word" data-heading="@subsidiaryIdHeader">@subsidiaryViewModel.Id</td>
                                                <td class="govuk-table__cell break-word" data-heading="@companiesHouseNumberHeader">@(!string.IsNullOrWhiteSpace(subsidiaryViewModel.CompaniesHouseNumber) ? subsidiaryViewModel.CompaniesHouseNumber : Localizer["no_ch_number"])</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        @if (!Model.IsDirectProducer)
                        {
                            <h2 class="govuk-heading-m">@organisationModel.Name</h2>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <span class="govuk-caption-m">@Localizer["organisation_id_heading"]: @organisationModel.Id</span>
                                    <span class="govuk-caption-m">@Localizer["companies_house_number_heading"]: @(!string.IsNullOrWhiteSpace(organisationModel.CompaniesHouseNumber) ? organisationModel.CompaniesHouseNumber : Localizer["no_ch_number"])</span>
                                </div>
                            </div>
                        }
                        <p class="govuk-body blank-line-before">@Localizer["no_subsidiaries_added"]</p>

                        <p class="govuk-body">@Localizer["subsidiaries_need_to_upload_csv"]</p>

                        <p class="govuk-body">
                            <a href="@Url.Action("Get", "SubsidiariesCompleteFile")" class="govuk-link" rel="noreferrer noopener" target="_blank">@Localizer["how_to_complete_file"]</a>
                        </p>

                    }

                    <h2 class="govuk-heading-m">@Localizer["subsidiaries_upload_your_file"]</h2>
                    <p class="govuk-body">@Localizer["subsidiaries_file_must_be"]</p>
                    <ul>
                        <li>
                            <p class="govuk-body">@Localizer["subsidiaries_smaller_than_60kb"]</p>
                        </li>
                        <li>
                            <p class="govuk-body">@Localizer["subsidiaries_in_csv_format"]</p>
                        </li>
                    </ul>
                    <p class="govuk-body" id="file-upload-instructions">@Localizer["few_minutes_to_upload_file"]</p>


                    @using (Html.BeginForm(FormMethod.Post, new
                    {
                        enctype = "multipart/form-data"
                    }))
                    {
                        <div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")" data-testid="subsidiary-data-upload-form">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                @await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("file"))
                            }
                            <label class="govuk-label" for="file">@Localizer["upload_a_file"]</label>
                            <input class="govuk-file-upload" name="file" type="file" id="file" data-testid="subsidiary-upload-choose-file-button" aria-describedby="file-upload-instructions">
                        </div>
                        <button class="govuk-button" data-module="govuk-button" type="submit" data-testid="subsidiary-data-upload-button">@SharedLocalizer["upload_file"]</button>

                        @if (organisationModel.Subsidiaries.Count > 0)
                        {
                            <a class="govuk-button govuk-button--secondary govuk-!-margin-left-4" href="@Url.Action("SubsidiariesDownload", "FileUploadSubsidiaries")" role="button" data-module="govuk-button">
                                @SharedLocalizer["export"]
                            </a>

                            <span class="govuk-body govuk-!-margin-left-4"><a href="@Url.Action("Get", "SubsidiariesCompleteFile")" class="govuk-link" rel="noreferrer noopener" target="_blank">@Localizer["how_to_complete_file"]</a></span>
                        }
                    }
                }

                @if (Model.PagingDetail.PageCount > 1)
                {
                    @await Html.PartialAsync("Partials/RecordNavigation/_RecordPaging", Model.PagingDetail)
                    @await Html.PartialAsync("Partials/RecordNavigation/_RecordCount", Model.PagingDetail)
                }
            }
        </div>
    </div>
</main>
