@using FrontendSchemeRegistration.UI.Controllers.Prns
@using FrontendSchemeRegistration.UI.ViewModels.Prns
@model PrnViewModel

@{
    ViewData["Title"] = Localizer[(Model.IsPrn ? "page_title_prn" : "page_title_pern")];
}
<main class="govuk-main-wrapper govuk-!-padding-top-4" id="confirm-rject-prn">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <form class="form" method="POST">
                @Html.HiddenFor(model => model.ExternalId)
                <h2 class="govuk-heading-l">@Localizer[(Model.IsPrn ? "reject_this_prn" : "reject_this_pern")]</h2>

                <p class="govuk-body-m">@Localizer["this_is_permanent_and_cannot_be_undone"]</p>

                <div class="govuk-button-group">

                    <button class="govuk-button" type="submit" asp-action=@nameof(PrnsRejectController.ConfirmRejectSinglePrnPassThrough) asp-controller="PrnsReject">
                        @Localizer["yes_reject"]
                    </button>

                    @Html.ActionLink(@Localizer["no_go_back"].Value, nameof(PrnsController.SelectSinglePrn), "Prns",
                        new
                        {
                            id = @Model.ExternalId
                        },
                        new
                        {
                            @class = "govuk-button govuk-button--secondary"
                        })
                </div>
            </form>
        </div>
    </div>
</main>