@using FrontendSchemeRegistration.UI.Controllers.Prns
@using FrontendSchemeRegistration.UI.ViewModels.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model PrnViewModel

@{
    ViewData["Title"] = Localizer[(Model.IsPrn ? "prn_page_title" : "pern_page_title")];
    // TODO: Use of .Max() here is hackery to get around the fact that the user hasn't actually chosen a year (won't matter until 2027 Dec Waste PRNs are in the system)
    var headerText = string.Format(Localizer[(Model.IsPrn ? "prn_heading" : "pern_heading")].Value.ToString(), Model.AvailableAcceptanceYears.Max().ToString());
}
<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <form class="form" method="POST">
                @Html.HiddenFor(model => model.ExternalId)
                <h2 class="govuk-heading-l">@headerText</h2>

                <div class="govuk-inset-text">                   
                    @string.Format(Localizer["Title"].Value, Model.Tonnage, @PrnDataLocalizer[Model.Material].Value)
                </div>

                <div class="govuk-button-group">
                    @if (Model.IsStatusEditable)
                    {
                        <button class="govuk-button" type="submit" asp-action=@nameof(PrnsAcceptController.ConfirmAcceptSinglePrnPassThrough) asp-controller="PrnsAccept">
                            @Localizer["YesAcceptButton"]
                        </button>
                    }

                    @Html.ActionLink(@Localizer["NoBackButton"].Value, nameof(PrnsController.SelectSinglePrn), "Prns",
                        new
                        {
                            id = @Model.ExternalId
                        },
                        new
                        {
                            @class = "govuk-button govuk-button--secondary"
                        })
                </div>
            </form>
        </div>
    </div>
</main>