@using FrontendSchemeRegistration.UI.Controllers.Prns
@using FrontendSchemeRegistration.UI.ViewModels.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model AcceptedPrnsModel
@{
    ViewData["Title"] = Localizer["page_title"];
    var summaryText = string.Empty;

    if (Model.NoteTypes == PrnConstants.PrnText || Model.NoteTypes == PrnConstants.PernText)
    {
        summaryText = string.Format(Localizer["you_have_accepted_one_prn_or_pern"].Value, PrnDataLocalizer[Model.NoteTypes]);
    }
    else if (Model.NoteTypes == PrnConstants.PrnsText || Model.NoteTypes == PrnConstants.PernsText)
    {
        summaryText = string.Format(Localizer["you_have_accepted_multipe_prn_or_pern"].Value, Model.Count, PrnDataLocalizer[Model.NoteTypes]);
    }
    else
    {
        var noteTypes = Model.NoteTypes.Split(",");
        summaryText = string.Format(Localizer["you_have_accepted_mix_prns_and_perns"].Value, Model.Count, PrnDataLocalizer[noteTypes[0]], PrnDataLocalizer[noteTypes[1]]);
    }
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" aria-label="main" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <main class="govuk-main-wrapper govuk-main-wrapper--l" aria-label="confirmation" id="main-content-confirmation" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">
                                @summaryText
                            </h1>
                        </div>
                    </div>
                </div>
            </main>

            <h2 class="govuk-heading-m">@Localizer["what_happens_next"]</h2>
            <p class="govuk-body">
                @Localizer[Model.Count == 1 ? "we_will_credit_this_towards_your_yyyy_recycling obligations" : "we_will_credit_these_towards_your_yyyy_recycling obligations", Model.ObligationYears]
            </p>
            @for (int i = 0; i < Model.Details.Count; i++)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="card govuk-card--blue govuk-!-margin-bottom-5">
                            <div class="govuk-card-body">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-3 govuk-card-body-text--white">@PrnDataLocalizer[Model.Details[i].Material]</h2>
                                <h2 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["number_tonnes", Model.Details[i].Tonnage]</h2>
                                <p class="govuk-body govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["credited_towards_your_material_obligation", @PrnDataLocalizer[Model.Details[i].Material].Value]</p>
                            </div>
                        </div>
                    </div>
                    @if (i + 1 < Model.Details.Count)
                    {
                        i++;
                        <div class="govuk-grid-column-one-half">
                            <div class="card govuk-card--blue govuk-!-margin-bottom-5">
                                <div class="govuk-card-body">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-3 govuk-card-body-text--white">@PrnDataLocalizer[Model.Details[i].Material]</h2>
                                    <h2 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["number_tonnes", Model.Details[i].Tonnage]</h2>
                                    <p class="govuk-body govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["credited_towards_your_material_obligation", @PrnDataLocalizer[Model.Details[i].Material].Value]</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <p class="govuk-body">
                @Localizer["download_prns_and_perns_from_search_page_part_1"]
                <a href="view-awaiting-acceptance" class="govuk-link">@Localizer["download_prns_and_perns_from_search_page_part_2"]</a>
                @Localizer["download_prns_and_perns_from_search_page_part_3"]
            </p>
            
            <div class="govuk-button-group">

                @Html.ActionLink(Localizer["view_recycling_obligations_progress"].Value, nameof(PrnsObligationController.ObligationsHome), "PrnsObligation",
                         null,
                         new
                         {
                             @class = "govuk-button govuk-button--primary"
                         })
            </div>

        </div>
    </div>
</main>
