@using FrontendSchemeRegistration.UI.Constants
@using FrontendSchemeRegistration.UI.Controllers.Prns
@using FrontendSchemeRegistration.UI.ViewModels.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model AcceptedPrnsModel
@{
    ViewData["Title"] = Localizer["page_title"];
    var summaryText = string.Empty;
    var bodyText = string.Empty;

    if (Model.NoteTypes == PrnConstants.PrnText || Model.NoteTypes == PrnConstants.PernText)
    {
        bodyText = Localizer["send_email_one_prn_or_pern"].Value;
        summaryText = string.Format(Localizer["you_have_accepted_one_prn_or_pern"].Value, PrnDataLocalizer[Model.NoteTypes]);
    }
    else if (Model.NoteTypes == PrnConstants.PrnsText || Model.NoteTypes == PrnConstants.PernsText)
    {
        bodyText = string.Format(Localizer["send_email_multiple_prn_or_pern"].Value, PrnDataLocalizer[Model.NoteTypes]);
        summaryText = string.Format(Localizer["you_have_accepted_multipe_prn_or_pern"].Value, Model.Count, PrnDataLocalizer[Model.NoteTypes]);
    }
    else
    {
        var noteTypes = Model.NoteTypes.Split(",");
        bodyText = string.Format(Localizer["send_email_mix_multiple_prns_perns"].Value, PrnDataLocalizer[noteTypes[0]], PrnDataLocalizer[noteTypes[1]]);
        summaryText = string.Format(Localizer["you_have_accepted_mix_prns_and_perns"].Value, Model.Count, PrnDataLocalizer[noteTypes[0]], PrnDataLocalizer[noteTypes[1]]);

    }
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" aria-label="main" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <main class="govuk-main-wrapper govuk-main-wrapper--l" aria-label="confirmation" id="main-content-confirmation" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">
                                @summaryText
                            </h1>
                            <div class="govuk-panel__body">
                                @Localizer[Model.Count == 1 ? "credited_this_towards_your_obligation" : "credited_these_towards_your_obligation"]
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <h2 class="govuk-heading-m">@Localizer["progress_towards_your_obligation"]</h2>
            @for (int i = 0; i < Model.Details.Count; i++)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="card govuk-card--blue govuk-!-margin-bottom-5">
                            <div class="govuk-card-body">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-3 govuk-card-body-text--white">@PrnDataLocalizer[Model.Details[i].Material]</h2>
                                <h2 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["number_tonnes", Model.Details[i].Tonnage]</h2>
                                <p class="govuk-body govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["credited_towards_your_material_obligation", @PrnDataLocalizer[Model.Details[i].Material].Value]</p>
                            </div>
                        </div>
                    </div>
                    @if (i + 1 < Model.Details.Count)
                    {
                        i++;
                        <div class="govuk-grid-column-one-half">
                            <div class="card govuk-card--blue govuk-!-margin-bottom-5">
                                <div class="govuk-card-body">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-3 govuk-card-body-text--white">@PrnDataLocalizer[Model.Details[i].Material]</h2>
                                    <h2 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["number_tonnes", Model.Details[i].Tonnage]</h2>
                                    <p class="govuk-body govuk-!-margin-bottom-3 govuk-card-body-text--white">@Localizer["credited_towards_your_material_obligation", @PrnDataLocalizer[Model.Details[i].Material].Value]</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-m">@Localizer["what_happens_next"]</h2>
            <p class="govuk-body">@bodyText</p>
            <br>
            <div class="govuk-button-group">
                @Html.ActionLink(Localizer["manage_obligation_home"].Value, nameof(PrnsController.HomePagePrn), "Prns", null,
                         new
                         {
                             @class = "govuk-button"
                         })
                @Html.ActionLink(Localizer["view_all_perns_and_prns"].Value, nameof(PrnsController.SelectMultiplePrns), "Prns",
                         null,
                         new
                         {
                             @class = "govuk-button govuk-button--secondary",
                         })
            </div>

        </div>
    </div>
</main>
