@using FrontendSchemeRegistration.UI.Constants
@model FileUploadCheckFileAndSubmitViewModel

@{
    var title = !Model.UserCanSubmit
        ? Localizer["packaging_data_uploaded"]
        : Localizer["check_and_submit_file"];

    ViewData["Title"] = title;

    var fileName = Localizer["file_name"];
    var dateAndTimeUploaded = Localizer["date_and_time_uploaded"];
    var uploadedBy = Localizer["uploaded_by"];
    var dateAndTimeSubmittedSubmitted = Localizer["date_and_time_submitted"];
    var submittedBy = Localizer["submitted_by"];
    var download = Localizer["download"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }

            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">@title</h1>

            @if (Model.UserCanSubmit)
            {
                <p class="govuk-body">@Localizer["your_file_has_saved_and_you_can_submit_it_to_the_environmental_regulator"]</p>

                if (Model.HasSubmittedPreviously)
                {   
                    <p class="govuk-body">@Localizer["submitting_the_new_packaging_data_file_will_replace_the_last_one_that_you_submitted"]</p>
                }

                <p class="govuk-body govuk-!-margin-bottom-7">@Localizer["once_you_have_submitted_your_new_files_you_can_only_make_changes_after_the_environmental_regulator_has_looked_at_them"]</p>
            }
            else
            {
                <p class="govuk-body govuk-!-margin-bottom-7">@Localizer["the_file_youve_uploaded_has_saved"]</p>
            }

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        @(Model is { HasSubmittedPreviously: true, UserCanSubmit: true }
                            ? Localizer["file_youre_submitting"]
                            : Localizer["file_uploaded"])
                    </h2>

                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link govuk-link--no-visited-state" asp-controller="FileUpload" asp-action="Get"
                               asp-route-submissionId="@Model.SubmissionId">@SharedLocalizer["change"]</a>
                        </li>
                    </ul>
                </div>

                <div class="govuk-summary-card__content">
                    <table class="govuk-table govuk-!-margin-bottom-0 responsive-table">
                        <caption class="govuk-visually-hidden">@Localizer["detail_regarding_the_latest_file_uploaded"]</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@fileName</th>
                            <th scope="col" class="govuk-table__header">@dateAndTimeUploaded</th>
                            <th scope="col" class="govuk-table__header">@uploadedBy</th>
                            <feature name="@FeatureFlags.EnableCsvDownload">
                                    <td class="govuk-table__header no-wrap-text"></td>
                                    
                            </feature>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td data-heading="@fileName" class="govuk-table__cell break-word">@Model.LastValidFileName</td>
                            <td data-heading="@dateAndTimeUploaded" class="govuk-table__cell break-word">@Model.LastValidFileUploadDateTime.Value.ToReadableDateTime()</td>
                            <td data-heading="@uploadedBy" class="govuk-table__cell break-word">@Model.LastValidFileUploadedBy</td>
                            <feature name="@FeatureFlags.EnableCsvDownload">
                                    <td data-heading="@download" class="govuk-table__cell no-wrap-text">
                                    @Html.ActionLink(
                                        download.Value,
                                        "Get",
                                        "FileDownloadPackaging",
                                        new { SubmissionId = Model.SubmissionId },
                                        new
                                        {
                                            @class = "govuk-link--no-visited-state download-button"
                                        })
                                </td>
                            </feature>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @if (Model.HasSubmittedPreviously)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">@Localizer["last_file_submitted"]</h2>
                    </div>

                    <div class="govuk-summary-card__content">
                        <table class="govuk-table govuk-!-margin-bottom-0 responsive-table">
                            <caption class="govuk-visually-hidden">@Localizer["detail_regarding_the_latest_file_submitted"]</caption>
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@fileName</th>
                                <th scope="col" class="govuk-table__header">@dateAndTimeSubmittedSubmitted</th>
                                <th scope="col" class="govuk-table__header">@submittedBy</th>
                                <feature name="@FeatureFlags.EnableCsvDownload">
                                        <td class="govuk-table__header no-wrap-text"></td>
                                </feature>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td data-heading="@fileName" class="govuk-table__cell break-word">@Model.SubmittedFileName</td>
                                <td data-heading="@dateAndTimeSubmittedSubmitted" class="govuk-table__cell break-word">@Model.SubmittedDateTime.Value.ToReadableDateTime()</td>
                                <td data-heading="@submittedBy" class="govuk-table__cell break-word">@Model.SubmittedBy</td>
                                <feature name="@FeatureFlags.EnableCsvDownload">
                                        <td data-heading="@download" class="govuk-table__cell no-wrap-text">
                                        @Html.ActionLink(
                                            download.Value,
                                            "Get",
                                            "FileDownloadCompanyDetails",
                                            new { SubmissionId = Model.SubmissionId },
                                            new
                                            {
                                                @class = "govuk-link--no-visited-state download-button"
                                            })
                                    </td>
                                </feature>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (Model.UserCanSubmit)
            {
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.LastValidFileId)

                    @if (Model is { IsComplianceScheme: true })
                    {
                        <div class="govuk-warning-text govuk-!-margin-top-7">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">@SharedLocalizer["warning"]</span>
                                @Localizer["your_company_may_face_enforcement_action_if_the_data_you_submit_is_inaccurate"]
                            </strong>
                        </div>

                        <button class="govuk-button" data-module="govuk-button">@SharedLocalizer["submit"]</button>
                    }
                    else
                    {
                        <button class="govuk-button" data-module="govuk-button">@SharedLocalizer["continue"]</button>
                    }   
                }
            }
            else
            {
                <div class="govuk-!-margin-bottom-6">
                    <h2 class="govuk-heading-m govuk-!-margin-top-7">@Localizer["how_to_submit_your_file"]</h2>
                    <p class="govuk-body">@Localizer["you_dont_have_permission_to_submit_files"]</p>
                    <p class="govuk-body">@Localizer["someone_in_your_team_with_the_right_account_permissions_must_submit_these_file_to_the_environmental_regulator"]</p>
                </div>
            }

            <div class="govuk-!-margin-bottom-6">
                <a asp-controller="Landing" asp-action="Get" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">@Localizer["go_to_your_account_homepage"]</a>
            </div>
        </div>
    </div>
</main>