@using FrontendSchemeRegistration.Application.DTOs.Submission
@using FrontendSchemeRegistration.UI.Constants
@using FrontendSchemeRegistration.UI.Sessions
@using Microsoft.FeatureManagement
@inject IFeatureManager FeatureManager
@inject IOptions<ExternalUrlOptions> ExternalUrls
@model HomePageSelfManagedViewModel

@{
    var title = Localizer["account_home", Model.OrganisationName];
    ViewData["Title"] = title;

    // this is part of the new packaging data resubmission journey
    var isSubmitted = Model.ResubmissionTaskListViewModel?.IsSubmitted;
    var isResubmissionComplete = Model.ResubmissionTaskListViewModel?.IsResubmissionComplete;
    var isPackagingResubmissionApplicationStarted = Model.ResubmissionTaskListViewModel?.ApplicationStatus != ApplicationStatusType.NotStarted;
    var isResubmissionInProgress = isSubmitted == true && isPackagingResubmissionApplicationStarted && Model.ResubmissionTaskListViewModel?.IsResubmissionInProgress == true;
}

<main class="govuk-main-wrapper" id="main-content" role="main">

    @if (Model.Notification.HasNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedAsDelegatedPerson", Model.Notification.NominatedEnrolmentId)
    }
    @if (Model.Notification.HasApprovedPersonNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedApprovedPerson", Model.Notification.NominatedApprovedPersonEnrolmentId)
    }

    @await Component.InvokeAsync("PendingApprovalNotification")
    @await Component.InvokeAsync("ApprovedPerconInvitationSubmittedNotification")

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 break-word">@title</h1>
        </div>
    </div>

    <feature name="@FeatureFlags.ShowLargeProducerRegistrationWarning">
        @await Html.PartialAsync("Partials/Notifications/_ApplyForRegistration", false)
    </feature>

    @if (Model.Notification.HasPendingNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_WaitingForApproval")
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-inset-text">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">@Localizer["organisation_id_x", Model.OrganisationNumber]</p>
                <p class="govuk-body govuk-!-margin-bottom-1">@Localizer["your_account_is_set_up_so_you_can_submit_your_own_data"]</p>
                @if (Model.CanSelectComplianceScheme)
                {
                    @using (Html.BeginForm(FormMethod.Post, new
                                {
                                    @class = "govuk-!-margin-top-1"
                                }))
                    {
                        <button type="submit"
                                class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-text-align-left">
                            @Localizer["add_a_compliance_scheme_to_your_account"]
                        </button>
                    }
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row box-container">
        @foreach (var app in Model.RegistrationApplicationsPerYear)
        {
            <partial name="RegistrationApplicationYearBlock" model="app" />
        }
        <div class="govuk-grid-column-one-half box">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">
                        <a asp-controller="FileUploadCompanyDetailsSubLanding" asp-action="Get"
                           class="govuk-link govuk-link--no-visited-state">
                            @Localizer["report_your_organisation_details"]
                        </a>
                    </h2>
                    <p class="govuk-body">@Localizer["you_can"]</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@Localizer["resubmit_your_organisation_details"]</li>
                        <li>@Localizer["report_changes_to_your_organisation_details"]</li>
                        <li>@Localizer["view_your_history"]</li>
                    </ul>
                </div>
            </div>
        </div>
 
        <!-- TILE: Packaging data -->
        <div class="govuk-grid-column-one-half box">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">

                    @if (FeatureManager.IsEnabledAsync(nameof(FeatureFlags.ImplementPackagingDataResubmissionJourney)).Result)
                    {
                        <!-- this is part of the new packaging data resubmission journey -->
                        <h2 class="govuk-heading-m">
                            @Html.ActionLink(
                                Localizer["report_packaging_data"].Value,
                                "Get",
                                "FileUploadSubLanding",
                                null,
                                new
                                {
                                    @class = "govuk-link govuk-link--no-visited-state"
                                })
                        </h2>
                        @if (!isSubmitted.HasValue || isSubmitted == false)
                        {
                            <p class="govuk-body">@Localizer["you_must_report_packaging_data", Model.PackagingResubmissionPeriod.Year, Model.PackagingResubmissionPeriod.Deadline.Date.ToString("MMMM"), Model.PackagingResubmissionPeriod.Year]</p>
                        }
                        else if (isSubmitted == true && !isPackagingResubmissionApplicationStarted)
                        {
                            <p class="govuk-body">@Localizer["you_must_report_packaging_data", Model.PackagingResubmissionPeriod.Year, Model.PackagingResubmissionPeriod.Deadline.Date.ToString("MMMM"), Model.PackagingResubmissionPeriod.Year]</p>
                            <p class="govuk-body">@Localizer["you_can_also"]</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>@Localizer["resubmit_your_packaging_data"]</li>
                                <li>@Localizer["view_your_history"]</li>
                            </ul>
                        }
                        else if (isResubmissionInProgress)
                        {
                            <p class="govuk-body">@Localizer["you_must_report_packaging_data", Model.PackagingResubmissionPeriod.Year, Model.PackagingResubmissionPeriod.Deadline.Date.ToString("MMMM"), Model.PackagingResubmissionPeriod.Year]</p>
                            <p class="govuk-body">@Localizer["you_are_currenlty_resubmitting_data"]</p>
                            <p class="govuk-body">@Localizer["you_still_need_to_view_any_additional_fees"]</p>
                        }
                        else if (isResubmissionComplete.HasValue && isResubmissionComplete == true)
                        {
                            <p class="govuk-body">@Localizer["you_are_currenlty_resubmitting_data_period", Model.PackagingResubmissionPeriod.Year]</p>
                            <p class="govuk-body">@Localizer["you_can_also"]</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>@Localizer["resubmit_your_packaging_data"]</li>
                                <li>@Localizer["view_your_history"]</li>
                            </ul>
                        }
                    }
                    else
                    {
                        <!-- this is part of the old registration submission journey -->
                        <h2 class="govuk-heading-m">
                            @Html.ActionLink(
                                Localizer["packaging_data"].Value,
                                "Get",
                                "FileUploadSubLanding",
                                null,
                                new
                                {
                                    @class = "govuk-link govuk-link--no-visited-state"
                                })
                        </h2>
                        <p class="govuk-body">@Localizer["you_must_report_packaging_data_non_resubmission"]</p>
                        <p class="govuk-body">@Localizer["you_can_also"]</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>@Localizer["resubmit_your_packaging_data"]</li>
                            <li>@Localizer["view_your_history"]</li>
                        </ul>
                    }

                </div>
            </div>
        </div>

        <feature name="@FeatureFlags.ShowPrn">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            <a href="@FrontendSchemeRegistration.Application.Constants.PagePaths.Prns.ObligationsHome"
                               class="govuk-link--no-visited-state">@Localizer["prn_heading_text", Model.CurrentYear]</a>
                        </h2>
                        <p class="govuk-body">@Localizer["prn_paragraph_1"]</p>
                        <p class="govuk-body">@Localizer["you_can_also"]</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>@Localizer["prn_unordered_list_point_1"]</li>
                            <li>@Localizer["prn_unordered_list_point_2"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </feature>
   
        <feature name="@FeatureFlags.ShowWasteTile" negate="true">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">@Localizer["waste_management_fee"]</h2>
                        <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["no_action_needed_at_the_moment"]</p>
                    </div>
                </div>
            </div>
        </feature>
        <feature name="@FeatureFlags.ShowWasteTile">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank"
                               href="@ExternalUrls.Value.FinancialServicesSupplier">@Localizer["view_and_pay_waste_disposal_fees"]</a>
                        </h2>
                        <p class="govuk-body">@Localizer["go_to_packuk"]</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>@Localizer["pay_the_fees"]</li>
                            <li>@Localizer["view_previous_payments"]</li>
                        </ul>
                        <p class="govuk-body">
                            <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank"
                               href="@ExternalUrls.Value.LearnMoreAboutPackUK">@Localizer["learn_more_about_packuk"].</a>
                        </p>
                    </div>
                </div>
            </div>
        </feature>

        <feature name="@FeatureFlags.ShowSubsidiaries">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            @Html.ActionLink(
                                Localizer["subsidiaries"].Value,
                                "SubsidiariesList",
                                "FileUploadSubsidiaries",
                                null,
                                new
                                {
                                    @class = "govuk-link govuk-link--no-visited-state"
                                })
                        </h2>
                        <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["add-manage-subsidiaries"]</p>
                    </div>
                </div>
            </div>
        </feature>
    </div>
</main>
