@using FrontendSchemeRegistration.UI.Constants
@model HomePageSelfManagedViewModel

@{
    var title = Localizer["account_home", Model.OrganisationName];
    ViewData["Title"] = title;
}

<main class="govuk-main-wrapper" id="main-content" role="main">

    @if (Model.Notification.HasNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedAsDelegatedPerson", Model.Notification.NominatedEnrolmentId)
    }
    @if (Model.Notification.HasApprovedPersonNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedApprovedPerson", Model.Notification.NominatedApprovedPersonEnrolmentId)
    }
    
    @await Component.InvokeAsync("PendingApprovalNotification")
    @await Component.InvokeAsync("ApprovedPerconInvitationSubmittedNotification")
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 break-word">@title</h1>
        </div>
    </div>

    @if (Model.Notification.HasPendingNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_WaitingForApproval")
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-inset-text">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">@Localizer["organisation_id_x", Model.OrganisationNumber]</p>
                <p class="govuk-body govuk-!-margin-bottom-1">@Localizer["your_account_is_set_up_so_you_can_submit_your_own_data"]</p>
                @if (Model.CanSelectComplianceScheme)
                {
                    @using (Html.BeginForm(FormMethod.Post, new
                    {
                        @class = "govuk-!-margin-top-1"
                    }))
                    {
                        <button type="submit" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-text-align-left">
                            @Localizer["add_a_compliance_scheme_to_your_account"]
                        </button>
                    }
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">
                        @Html.ActionLink(
                            Localizer["organisation_details"].Value,
                            "Get",
                            "FileUploadCompanyDetailsSubLanding",
                            null,
                            new
                            {
                                @class = "govuk-link govuk-link--no-visited-state"
                            })
                    </h2>
                    <p class="govuk-body">@Localizer["every_year_you_must_report_data_for"]</p>
                    <p class="govuk-body">@Localizer["you_can_also"]</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@Localizer["resubmit_your_organisation_details"]</li>
                        <li>@Localizer["report_changes_to_your_organisation_details"]</li>
                        <li>@Localizer["view_your_history"]</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">
                        @Html.ActionLink(
                            Localizer["packaging_data"].Value,
                            "Get",
                            "FileUploadSubLanding",
                            null,
                            new
                            {
                                @class = "govuk-link govuk-link--no-visited-state"
                            })
                    </h2>
                    <p class="govuk-body">@Localizer["you_must_report_packaging_data"]</p>
                    <p class="govuk-body">@Localizer["you_can_also"]</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@Localizer["resubmit_your_packaging_data"]</li>
                        <li>@Localizer["view_your_history"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">@Localizer["waste_management_fee"]</h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["no_action_needed_at_the_moment"]</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">
                        <feature name="@FeatureFlags.ShowPrn">
                            <a href="@FrontendSchemeRegistration.Application.Constants.PagePaths.Prns.Home" class="govuk-link--no-visited-state">Manage your recycling obligation</a>
                        </feature>
                        <feature name="@FeatureFlags.ShowPrn" negate="true">
                            @Localizer["packaging_recovery_notes"]
                        </feature>
                     </h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["no_action_needed_at_the_moment"]</p>
                </div>
            </div>
        </div>
        <feature name="@FeatureFlags.ShowSubsidiaries">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">
                        @Html.ActionLink(
                                 Localizer["subsidiaries"].Value,
                                 "SubsidiariesList",
                                 "FileUploadSubsidiaries",
                                 null,
                                 new
                                 {
                                     @class = "govuk-link govuk-link--no-visited-state"
                                 })
                    </h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["add-manage-subsidiaries"]</p>
                </div>
            </div>
        </div>
        </feature>
    </div>
</main>