@using FrontendSchemeRegistration.Application.DTOs.Submission
@using FrontendSchemeRegistration.UI.Constants
@using FrontendSchemeRegistration.UI.Sessions
@using Microsoft.FeatureManagement
@inject IFeatureManager	_featureManager
@model HomePageSelfManagedViewModel

@{
	var title = Localizer["account_home", Model.OrganisationName];
	ViewData["Title"] = title;

	// this is part of the new packaging data resubmission journey
	var isSubmitted = Model.ResubmissionTaskListViewModel?.IsSubmitted;
	var isResubmissionComplete = Model.ResubmissionTaskListViewModel?.IsResubmissionComplete;
	var isPackagingResubmissionApplicationStarted = !string.IsNullOrEmpty(Model.ResubmissionTaskListViewModel.AppReferenceNumber);
	var isResubmissionInProgress = isSubmitted == true && isPackagingResubmissionApplicationStarted && Model.ResubmissionTaskListViewModel?.IsResubmissionInProgress == true;
}

<main class="govuk-main-wrapper" id="main-content" role="main">

    @if (Model.Notification.HasNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedAsDelegatedPerson", Model.Notification.NominatedEnrolmentId)
    }
    @if (Model.Notification.HasApprovedPersonNominatedNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_NominatedApprovedPerson", Model.Notification.NominatedApprovedPersonEnrolmentId)
    }

    @await Component.InvokeAsync("PendingApprovalNotification")
    @await Component.InvokeAsync("ApprovedPerconInvitationSubmittedNotification")

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 break-word">@title</h1>
        </div>
    </div>

    @if (Model.Notification.HasPendingNotification)
    {
        @await Html.PartialAsync("Partials/Notifications/_WaitingForApproval")
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-inset-text">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">@Localizer["organisation_id_x", Model.OrganisationNumber]</p>
                <p class="govuk-body govuk-!-margin-bottom-1">@Localizer["your_account_is_set_up_so_you_can_submit_your_own_data"]</p>
                @if (Model.CanSelectComplianceScheme)
                {
                    @using (Html.BeginForm(FormMethod.Post, new
                    {
                        @class = "govuk-!-margin-top-1"
                    }))
                    {
                        <button type="submit" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-text-align-left">
                            @Localizer["add_a_compliance_scheme_to_your_account"]
                        </button>
                    }
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row box-container">
        <div class="govuk-grid-column-one-half box">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">
                        <a asp-controller="RegistrationApplication" asp-action="@Model.RegistrationApplicationLink" class="govuk-link govuk-link--no-visited-state">
                            @Localizer["registration"]
                        </a>
                    </h2>
                    <p class="govuk-body">
                        @{
                            ShowProgressStatus(Model);
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-half box">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">
                        <a asp-controller="FileUploadCompanyDetailsSubLanding" asp-action="Get" class="govuk-link govuk-link--no-visited-state">
                            @Localizer["report_your_organisation_details"]
                        </a>
                    </h2>
                    <p class="govuk-body">@Localizer["you_can"]</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@Localizer["resubmit_your_organisation_details"]</li>
                        <li>@Localizer["report_changes_to_your_organisation_details"]</li>
                        <li>@Localizer["view_your_history"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

	<div class="govuk-grid-row box-container">
		<!-- TILE: Packaging data -->
		<div class="govuk-grid-column-one-half box">
			<div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
				<div class="govuk-card-body">

					@if (_featureManager.IsEnabledAsync(nameof(FeatureFlags.ImplementPackagingDataResubmissionJourney)).Result)
					{
						<!-- this is part of the new packaging data resubmission journey -->
						<h2 class="govuk-heading-m">
							@Html.ActionLink(
																Localizer["report_packaging_data"].Value,
																"Get",
																"FileUploadSubLanding",
																null,
																new
																{
																	@class = "govuk-link govuk-link--no-visited-state"
																})
						</h2>
						@if (!isSubmitted.HasValue || isSubmitted == false)
						{
							<p class="govuk-body">@Localizer["you_must_report_packaging_data", Model.LastYear, Model.CurrentYear]</p>
						}
						else if (isSubmitted == true && !isPackagingResubmissionApplicationStarted)
						{
							<p class="govuk-body">@Localizer["you_must_report_packaging_data", Model.LastYear, Model.CurrentYear]</p>
							<p class="govuk-body">@Localizer["you_can_also"]</p>
							<ul class="govuk-list govuk-list--bullet">
								<li>@Localizer["resubmit_your_packaging_data"]</li>
								<li>@Localizer["view_your_history"]</li>
							</ul>
						}
						else if (isResubmissionInProgress)
						{
							<p class="govuk-body">@Localizer["you_must_report_packaging_data", Model.LastYear, Model.CurrentYear]</p>
							<p class="govuk-body">@Localizer["you_are_currenlty_resubmitting_data"]</p>
						}
						else if (isResubmissionComplete.HasValue && isResubmissionComplete == true)
						{
							<p class="govuk-body">@Localizer["you_are_currenlty_resubmitting_data_period", Model.LastYear]</p>
							<p class="govuk-body">@Localizer["you_can_also"]</p>
							<ul class="govuk-list govuk-list--bullet">
								<li>@Localizer["resubmit_your_packaging_data"]</li>
								<li>@Localizer["view_your_history"]</li>
							</ul>
						}
					}
					else
					{
						<!-- this is part of the old registration submission journey -->
						<h2 class="govuk-heading-m">
							@Html.ActionLink(
								Localizer["packaging_data"].Value,
								"Get",
								"FileUploadSubLanding",
								null,
								new
								{
									@class = "govuk-link govuk-link--no-visited-state"
								})
						</h2>
						<p class="govuk-body">@Localizer["you_must_report_packaging_data_non_resubmission"]</p>
						<p class="govuk-body">@Localizer["you_can_also"]</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>@Localizer["resubmit_your_packaging_data"]</li>
						<li>@Localizer["view_your_history"]</li>
					</ul>
					}

				</div>
			</div>
		</div>

        <div class="govuk-grid-column-one-half box">
            <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                <div class="govuk-card-body">
                    <h2 class="govuk-heading-m">@Localizer["waste_management_fee"]</h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["no_action_needed_at_the_moment"]</p>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row box-container">
        <feature name="@FeatureFlags.ShowPrn">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            <a href="@FrontendSchemeRegistration.Application.Constants.PagePaths.Prns.ObligationsHome"
                                class="govuk-link--no-visited-state"
                                aria-labelledby="@Localizer["prn_heading_text", Model.CurrentYear]">@Localizer["prn_heading_text", Model.CurrentYear]</a>
                        </h2>
                        <p class="govuk-body">@Localizer["prn_paragraph_1"]</p>
                        <p class="govuk-body">@Localizer["you_can_also"]</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>@Localizer["prn_unordered_list_point_1"]</li>
                            <li>@Localizer["prn_unordered_list_point_2"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </feature>

        <feature name="@FeatureFlags.ShowSubsidiaries">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            @Html.ActionLink(
                                     Localizer["subsidiaries"].Value,
                                     "SubsidiariesList",
                                     "FileUploadSubsidiaries",
                                     null,
                                     new
                                     {
                                         @class = "govuk-link govuk-link--no-visited-state"
                                     })
                        </h2>
                        <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["add-manage-subsidiaries"]</p>
                    </div>
                </div>
            </div>
        </feature>
    </div>
</main>

@{
    void ShowProgressStatus(HomePageSelfManagedViewModel model)
    {
        if ((model.ApplicationStatus
                is ApplicationStatusType.AcceptedByRegulator
                or ApplicationStatusType.ApprovedByRegulator)
            || (model.IsResubmission && (model.ApplicationStatus
                is ApplicationStatusType.NotStarted
                or ApplicationStatusType.FileUploaded
                or ApplicationStatusType.SubmittedAndHasRecentFileUpload
        )))
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.CurrentYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>
                <p class="govuk-body"><strong>@Localizer["If_anything_changes_you_should_resubmit"]</strong></p>
                <p class="govuk-body">
                    <a href="@FrontendSchemeRegistration.Application.Constants.PagePaths.UpdateRegistrationGuidance" class="govuk-link govuk-link--no-visited-state">
                        <strong>@Localizer["Resubmit_your_data_files"]</strong>
                    </a>
                </p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.QueriedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["The_regulator_has_identified_a_potential_issue"]</p>
                <p class="govuk-body">@Localizer["You_will_need_to_submit_a_corrected_registration_data_file"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.RejectedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_refused", model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["Contact_the_regulator_for_further_advice"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.CancelledByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_X_has_been_cancelled", model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["Contact_your_regulator_if_you_need_advice"]</p>
            </div>
        }
        else if (model.AdditionalDetailsStatus == RegistrationTaskListStatus.Completed)
        {
            if (model.IsResubmission)
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.CurrentYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>
                </div>
            }
            else
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_submitted", model.CurrentYear]</p>
                </div>
            }
        }
        else if (!model.IsResubmission && model is { PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_viewed_your_registration_fees"]</p>
                <p class="govuk-body">@Localizer["Payment_must_be_made_before_submitting_your_x", model.CurrentYear]</p>
            </div>
        }
        else if (!model.IsResubmission && model.FileUploadStatus is RegistrationTaskListStatus.Completed && model.PaymentViewStatus is RegistrationTaskListStatus.NotStarted)
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data_for_x", Model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods"]</p>
            </div>
        }
        else if (model.IsResubmission && ((model.FileUploadStatus is RegistrationTaskListStatus.Pending && model.PaymentViewStatus is RegistrationTaskListStatus.CanNotStartYet) || (model.FileUploadStatus is RegistrationTaskListStatus.Completed && model.PaymentViewStatus is RegistrationTaskListStatus.NotStarted)))
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_resubmitted_your_registration_data_for_x", Model.CurrentYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods"]</p>
            </div>
        }
        else if (model.IsResubmission && (model is { PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted }))
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_updated_your_data_and_viewed_your_fees"]</p>
                <p class="govuk-body">@Localizer["You_now_need_to_submit_to_the_regulator"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.SubmittedToRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data"]</p>
                <p class="govuk-body">@Localizer["You_will_then_need_to_pay_your_registration_fee"]</p>
            </div>
        }
        else
        {
            <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["you_need_to_register_by_1_April", Model.CurrentYear] @Localizer["Apply_by_1st_April_x", Model.CurrentYear]</p>
        }
    }
}