@using System.Globalization
@using FrontendSchemeRegistration.Application.DTOs.Submission
@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.Application.Options.RegistrationPeriodPatterns
@using FrontendSchemeRegistration.UI.Services.RegistrationPeriods
@using FrontendSchemeRegistration.UI.Sessions
@using FrontendSchemeRegistration.UI.ViewModels.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontendSchemeRegistration.UI.ViewModels.Shared.RegistrationApplicationViewModel

<div class="registration-application-block govuk-grid-column-one-half box">
    <div class="@GetCardCssClass()">
        <div class="@GetHeaderContainerCssClass()">
            <h2 class="@GetHeaderCssClass()">
                <a asp-controller="RegistrationApplication"
                   asp-action="@Model.RegistrationApplicationLink"
                   asp-route-registrationjourney="@Model.RegistrationJourney"
                   asp-route-registrationyear="@Model.RegistrationYear"
                   class="registration-application-block__direct-reg-year-title-link govuk-link govuk-link--no-visited-state">
                    @if (Model.RegistrationJourney == RegistrationJourney.CsoLargeProducer)
                    {
                        @Localizer["current_large_producer_registration_title", Model.RegistrationYear]    
                    }
                    else if (Model.RegistrationJourney == RegistrationJourney.CsoSmallProducer)
                    {
                        @Localizer["current_small_producer_registration_title", Model.RegistrationYear]
                    }
                    else
                    {
                        <span>@Localizer["registration_for_year", Model.RegistrationYear]</span>
                    }
                </a>
            </h2>
        </div>
        <div class="@GetBodyCssClass()">
            @{
                await ShowProgressStatus(Model);
            }
        </div>
    </div>
</div>

@{
    string GetCardCssClass() => Model.SummaryCardStyling ? "govuk-summary-card" : "govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-card-body govuk-!-margin-bottom-7";
    string GetHeaderContainerCssClass() => Model.SummaryCardStyling ? "govuk-summary-card__title-wrapper app-summary-card__title-wrapper--no-background" : string.Empty; 
    string GetHeaderCssClass() => Model.SummaryCardStyling ? "govuk-summary-card__title" : "govuk-heading-m";
    string GetBodyCssClass() => Model.SummaryCardStyling ? "govuk-summary-card__content" : "govuk-body";

    async Task ShowProgressStatus(RegistrationApplicationViewModel model)
    {
        var isResubmissionApprovedRejected = model is { IsResubmission: true, ApplicationStatus: ApplicationStatusType.AcceptedByRegulator or ApplicationStatusType.ApprovedByRegulator or ApplicationStatusType.RejectedByRegulator };
        var isResubmissionPending = model is { IsResubmission: true, AdditionalDetailsStatus: RegistrationTaskListStatus.Completed };

        if (isResubmissionApprovedRejected || isResubmissionPending)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.RegistrationYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>

                @if (isResubmissionApprovedRejected)
                {
                    if (model.ApplicationStatus is ApplicationStatusType.AcceptedByRegulator or ApplicationStatusType.ApprovedByRegulator)
                    {
                        <p class="govuk-body"><strong>@Localizer["Your_resubmitted_data_has_been_accepted"]</strong></p>
                    }
                    else if (model.ApplicationStatus == ApplicationStatusType.RejectedByRegulator)
                    {
                        <p class="govuk-body"><strong>@Localizer["Your_resubmitted_registration_data_was_rejected"]</strong></p>
                    }

                    <p class="govuk-body">
                        <a asp-controller="RegistrationApplication"
                           asp-action="UpdateRegistrationGuidance"
                           asp-route-registrationjourney="@Model.RegistrationJourney"
                           asp-route-registrationyear="@Model.RegistrationYear"
                           class="govuk-link govuk-link--no-visited-state">
                            <strong>@Localizer["Resubmit_your_data_files"]</strong>
                        </a>
                    </p>
                }
                else
                {
                    <p class="govuk-body">@Localizer["You_have_resubmitted_registration_data"]</p>
                }
            </div>
        }
        else if (model.ApplicationStatus
                     is ApplicationStatusType.AcceptedByRegulator
                     or ApplicationStatusType.ApprovedByRegulator
            || model is
            {
                IsResubmission: true,
                ApplicationStatus: ApplicationStatusType.NotStarted
                or ApplicationStatusType.FileUploaded
                or ApplicationStatusType.SubmittedAndHasRecentFileUpload
            })
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.RegistrationYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>
                <p class="govuk-body"><strong>@Localizer["If_anything_changes_you_should_resubmit"]</strong></p>
                <p class="govuk-body">
                    <a asp-controller="RegistrationApplication"
                       asp-action="UpdateRegistrationGuidance"
                       asp-route-registrationjourney="@Model.RegistrationJourney"
                       asp-route-registrationyear="@Model.RegistrationYear"
                       class="govuk-link govuk-link--no-visited-state">
                        <strong>@Localizer["Resubmit_your_data_files"]</strong>
                    </a>
                </p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.QueriedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["The_regulator_has_identified_a_potential_issue"]</p>
                <p class="govuk-body">@Localizer["You_will_need_to_submit_a_corrected_registration_data_file"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.RejectedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_refused", model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["Contact_the_regulator_for_further_advice"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.CancelledByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_X_has_been_cancelled", model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["Contact_your_regulator_if_you_need_advice"]</p>
            </div>
        }
        else if (model.AdditionalDetailsStatus == RegistrationTaskListStatus.Completed)
        {
            if (model.IsResubmission)
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.RegistrationYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>
                </div>
            }
            else
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_submitted", model.RegistrationYear]</p>
                </div>
            }
        }
        else if (model is { IsResubmission: false, PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_viewed_your_registration_fees"]</p>
                <p class="govuk-body">@Localizer["Payment_must_be_made_before_submitting_your_x", model.RegistrationYear]</p>
            </div>
        }
        else if (model is { IsResubmission: false, FileUploadStatus: RegistrationTaskListStatus.Completed, PaymentViewStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data_for_x", model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods"]</p>
            </div>
        }
        else if (model.IsResubmission && (model.FileUploadStatus is RegistrationTaskListStatus.Pending && model.PaymentViewStatus is RegistrationTaskListStatus.CanNotStartYet
                                          || model.FileUploadStatus is RegistrationTaskListStatus.Completed && model.PaymentViewStatus is RegistrationTaskListStatus.NotStarted))
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_resubmitted_your_registration_data_for_x", model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods_resubmission"]</p>
            </div>
        }
        else if (model.IsResubmission && model is { PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_updated_your_data_and_viewed_your_fees"]</p>
                <p class="govuk-body">@Localizer["You_now_need_to_submit_to_the_regulator"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.SubmittedToRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data"]</p>
                <p class="govuk-body">@Localizer["You_will_then_need_to_pay_your_registration_fee"]</p>
            </div>
        }
        else // panel display the org hasn't started registration
        {
            // these legacy registration windows are closed
            if (model.RegistrationWindow.WindowType == WindowType.Cso || model.RegistrationWindow.WindowType == WindowType.Direct) 
            {
                <p class="govuk-body">@Localizer["legacy_registration_instructions1", model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["legacy_registration_instructions2"]</p>
            }
            else if (model.IsComplianceScheme)
            {
                <p class="govuk-body">@Localizer[model.RegistrationJourney == RegistrationJourney.CsoSmallProducer ? "cso_small_producer_instructions1" : "cso_large_producer_instructions1", model.RegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer[model.RegistrationJourney == RegistrationJourney.CsoSmallProducer ? "cso_small_producer_instructions2" : "cso_large_producer_instructions2"]</p>
            }
            else if (model.RegistrationWindow.GetRegistrationWindowStatus() == RegistrationWindowStatus.OpenAndNotLate && model.SecondaryRegistrationWindow.GetRegistrationWindowStatus() == RegistrationWindowStatus.PriorToOpening) // direct, small window has not opened, therefore targeted at large producers. Open and not late
            {
                <p class="govuk-body">@Localizer["direct_large_producer_open_instructions1", model.RegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.RegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer["direct_large_producer_open_instructions2", model.SecondaryRegistrationWindow.OpeningDate.FormatWithCulture(), model.SecondaryRegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.SecondaryRegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer["direct_large_producer_open_instructions3"]</p>
            }
            else if (model.RegistrationWindow.GetRegistrationWindowStatus() != RegistrationWindowStatus.OpenAndNotLate && model.SecondaryRegistrationWindow.GetRegistrationWindowStatus() == RegistrationWindowStatus.PriorToOpening) // direct, small window has not opened, therefore targeted at large producers. Past deadline date.
            {
                <p class="govuk-body">@Localizer["direct_large_producer_late_instructions1", model.RegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.RegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer["direct_large_producer_late_instructions2", model.SecondaryRegistrationWindow.OpeningDate.FormatWithCulture(), model.SecondaryRegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.SecondaryRegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
            }
            else if (model.SecondaryRegistrationWindow.GetRegistrationWindowStatus() == RegistrationWindowStatus.OpenAndNotLate) // direct, small (Secondary) window open, large window past deadline date
            {
                <p class="govuk-body">@Localizer["direct_small_producer_open_instructions1", model.SecondaryRegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.SecondaryRegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer["direct_small_producer_open_instructions2", model.RegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.RegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer["direct_small_producer_open_instructions3"]</p>
            }
            else // both (direct) windows are assumed to be late since the 2nd is late and they are ordered by deadline
            {
                <p class="govuk-body">@Localizer["direct_small_producer_late_instructions1", model.SecondaryRegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.SecondaryRegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer["direct_small_producer_late_instructions2", model.RegistrationWindow.DeadlineDate.PreviousMinuteWithCulture(), model.RegistrationWindow.DeadlineDate.FormatPreviousDayWithCulture()]</p>
                <p class="govuk-body">@Localizer["direct_small_producer_late_instructions3"]</p>
            }
        }
    }
}