@using FrontendSchemeRegistration.Application.DTOs.Submission
@using FrontendSchemeRegistration.UI.Sessions
@model RegistrationApplicationPerYearViewModel

<div class="govuk-grid-column-one-half box">
    <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
        <div class="govuk-card-body">
            <h2 class="govuk-heading-m">
                <a asp-controller="RegistrationApplication"
                   asp-action="@Model.RegistrationApplicationLink"
                   asp-route-registrationyear="@Model.RegistrationYear"
                   class="govuk-link govuk-link--no-visited-state">
                    @Localizer["registration"] @Localizer["for_year", Model.RegistrationYear]
                    @if (@Model.showLargeProducer)
                    {
                        <br />
                        @Localizer["large_producers_only"]
                    }
                </a>
            </h2>
            <p class="govuk-body">
                @{
                    ShowProgressStatus(Model);
                }
            </p>
        </div>
    </div>
</div>

@{
    void ShowProgressStatus(RegistrationApplicationPerYearViewModel model)
    {
        var isResubmissionApprovedRejected = model is { IsResubmission: true, ApplicationStatus: ApplicationStatusType.AcceptedByRegulator or ApplicationStatusType.ApprovedByRegulator or ApplicationStatusType.RejectedByRegulator };
        var isResubmissionPending = model is { IsResubmission: true, AdditionalDetailsStatus: RegistrationTaskListStatus.Completed };

        if (isResubmissionApprovedRejected || isResubmissionPending)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.RegistrationYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>

                @if (isResubmissionApprovedRejected)
                {
                    if (model.ApplicationStatus is ApplicationStatusType.AcceptedByRegulator or ApplicationStatusType.ApprovedByRegulator)
                    {
                        <p class="govuk-body"><strong>@Localizer["Your_resubmitted_data_has_been_accepted"]</strong></p>
                    }
                    else if (model.ApplicationStatus == ApplicationStatusType.RejectedByRegulator)
                    {
                        <p class="govuk-body"><strong>@Localizer["Your_resubmitted_registration_data_was_rejected"]</strong></p>
                    }

                    <p class="govuk-body">
                        <a href="@($"{FrontendSchemeRegistration.Application.Constants.PagePaths.UpdateRegistrationGuidance}?registrationyear={model.RegistrationYear}")" class="govuk-link govuk-link--no-visited-state">
                            <strong>@Localizer["Resubmit_your_data_files"]</strong>
                        </a>
                    </p>
                }
                else
                {
                    <p class="govuk-body">@Localizer["You_have_resubmitted_registration_data"]</p>
                }
            </div>
        }
        else if (model.ApplicationStatus
                     is ApplicationStatusType.AcceptedByRegulator
                     or ApplicationStatusType.ApprovedByRegulator
            || model is
            {
                IsResubmission: true,
                ApplicationStatus: ApplicationStatusType.NotStarted
                or ApplicationStatusType.FileUploaded
                or ApplicationStatusType.SubmittedAndHasRecentFileUpload
            })
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.RegistrationYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>
                <p class="govuk-body"><strong>@Localizer["If_anything_changes_you_should_resubmit"]</strong></p>
                <p class="govuk-body">
                    <a href="@($"{FrontendSchemeRegistration.Application.Constants.PagePaths.UpdateRegistrationGuidance}?registrationyear={model.RegistrationYear}")" class="govuk-link govuk-link--no-visited-state">
                        <strong>@Localizer["Resubmit_your_data_files"]</strong>
                    </a>
                </p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.QueriedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["The_regulator_has_identified_a_potential_issue"]</p>
                <p class="govuk-body">@Localizer["You_will_need_to_submit_a_corrected_registration_data_file"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.RejectedByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_refused", model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["Contact_the_regulator_for_further_advice"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.CancelledByRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["Your_registration_for_X_has_been_cancelled", model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["Contact_your_regulator_if_you_need_advice"]</p>
            </div>
        }
        else if (model.AdditionalDetailsStatus == RegistrationTaskListStatus.Completed)
        {
            if (model.IsResubmission)
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_for_x_has_been_granted", model.RegistrationYear] @Localizer["Your_registration_reference_number_is_x", model.RegistrationReferenceNumber]</p>
                </div>
            }
            else
            {
                <div>
                    <p class="govuk-body">@Localizer["Your_registration_application_for_x_has_been_submitted", model.RegistrationYear]</p>
                </div>
            }
        }
        else if (model is { IsResubmission: false, PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_viewed_your_registration_fees"]</p>
                <p class="govuk-body">@Localizer["Payment_must_be_made_before_submitting_your_x", model.RegistrationYear]</p>
            </div>
        }
        else if (model is { IsResubmission: false, FileUploadStatus: RegistrationTaskListStatus.Completed, PaymentViewStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data_for_x", Model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods"]</p>
            </div>
        }
        else if (model.IsResubmission && (model.FileUploadStatus is RegistrationTaskListStatus.Pending && model.PaymentViewStatus is RegistrationTaskListStatus.CanNotStartYet
                                          || model.FileUploadStatus is RegistrationTaskListStatus.Completed && model.PaymentViewStatus is RegistrationTaskListStatus.NotStarted))
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_resubmitted_your_registration_data_for_x", Model.RegistrationYear]</p>
                <p class="govuk-body">@Localizer["View_your_registration_fees_and_payment_methods"]</p>
            </div>
        }
        else if (model.IsResubmission && model is { PaymentViewStatus: RegistrationTaskListStatus.Completed, AdditionalDetailsStatus: RegistrationTaskListStatus.NotStarted })
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_updated_your_data_and_viewed_your_fees"]</p>
                <p class="govuk-body">@Localizer["You_now_need_to_submit_to_the_regulator"]</p>
            </div>
        }
        else if (model.ApplicationStatus == ApplicationStatusType.SubmittedToRegulator)
        {
            <div>
                <p class="govuk-body">@Localizer["You_have_submitted_your_registration_data"]</p>
                <p class="govuk-body">@Localizer["You_will_then_need_to_pay_your_registration_fee"]</p>
            </div>
        }
        else
        {
            <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["you_need_to_register_by_1_April", Model.RegistrationYear] @Localizer["Apply_by_1st_April_x", Model.RegistrationYear]</p>
        }
    }
}