@model AdditionalInformationViewModel

@{
    ViewData["Title"] = Localizer["additional_info_title"];
    var nationName = Model.NationName.ToLower();
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                @if (Model.IsComplianceScheme)
                {
                    @Localizer["members_organisation_details"]
                }
                else
                {
                    @Localizer["register_company", Model.OrganisationName]
                }
            </h1>
            <div class="govuk-inset-text govuk-!-margin-bottom-4">
                @if (Model.IsComplianceScheme)
                {
                    <p class="govuk-body govuk-!-font-weight-bold">
                        @Localizer["compliance_scheme_x", Model.ComplianceScheme]
                        <br/>@Localizer["regulator"]@Localizer[$"{nationName}.environmental_regulator"]
                    </p>
                }
                else
                {
                    <p class="govuk-body govuk-!-font-weight-bold">@Localizer["organisation_id_x", Model.OrganisationNumber]</p>
                }
            </div>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    @Localizer["ensure_x_year_reporting_of_packaging_data_before_registering", DateTime.Today.Year]
                </strong>
            </div>
            <p class="govuk-body">@Localizer["you_must_be_approved_or_delegated_person_to_submit_data_complete_registration"]</p>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Localizer["additional_information"]</h2>
            <p class="govuk-body govuk-!-margin-bottom-2">@Localizer["use_comment_box_for_additional_info_to_assist_regulator"]</p>

            <form asp-controller="RegistrationApplication" asp-action="AdditionalInformation" method="post">
                @Html.TextAreaFor(model => model.AdditionalInformationText, new { @class = "govuk-textarea", @rows = "5" })
                <button class="govuk-button govuk-body" data-module="govuk-button" type="submit">
                    @Localizer["submit_registration_application"]
                </button>
            </form>
        </div>
    </div>
</main>
