@using FrontendSchemeRegistration.UI.ViewModels.Shared
@model FrontendSchemeRegistration.UI.ViewModels.RegistrationApplication.ComplianceSchemeFeeCalculationBreakdownViewModel

@{
    ViewData["Title"] = Localizer["registration_fee_calculations"];
    var headingViewModel = new ComplianceSchemeRegistrationHeadingViewModel(
        Model.ShowRegistrationCaption, 
        Model.RegistrationJourney, 
        null,
        @Localizer[!Model.IsRegistrationFeePaid ? "registration_fee_due" : "registration_fee"],
        Model.RegistrationYear);
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <partial name="Partials/_ComplianceSchemeRegistrationHeading" model="headingViewModel"/>
            
            @if (!Model.IsRegistrationFeePaid)
            {
                <p class="govuk-body">
                    @Localizer["registration_fee_due_x_to_process_application", ConvertToThousandSeparatedDecimal(Model.TotalAmountOutstanding)]
                </p>

                <p class="govuk-body govuk-!-margin-bottom-4">
                    @Localizer["registration_fees_calculated_from_your_information"]
                </p>
                
                <p class="govuk-body govuk-!-margin-bottom-4">
                    @Localizer["registration_fee_may_change"]
                </p>

                <p class="govuk-body govuk-!-margin-bottom-4">
                    <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                       href="https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-register-and-pay-the-fee">@Localizer["registration_charge_details"]</a>.
                </p>

                <p class="govuk-body govuk-!-margin-bottom-4">
                    <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                       href="@GuidanceLinks.EPR_IllustrativeFeesAndCharges">@Localizer["more_about_EPR_fees_and_charges"]</a>.
                </p>
            }
            else
            {
                <p class="govuk-body govuk-!-margin-bottom-4">@Localizer["registration_fee_may_change"]</p>
                <p class="govuk-body govuk-!-margin-bottom-4">
                    <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                       href="https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-register-and-pay-the-fee">@Localizer["registration_charge_details"]</a>.
                </p>
            }

            <partial name="_ComplianceSchemeFeeCalculationBreakdown" model="@Model"/>

            <br/><br/>

            <p class="govuk-body govuk-!-margin-top-4">
                @if (Model is { RegistrationApplicationSubmitted: false, TotalAmountOutstanding: > 0 })
                {
                    <a asp-action="SelectPaymentOptions" asp-route-registrationyear="@Model.RegistrationYear" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["continue"]
                    </a>
                }
                else
                {
                    <a asp-action="RegistrationTaskList" asp-route-registrationyear="@Model.RegistrationYear" class="govuk-link govuk-link--no-visited-state">
                        @Localizer["return_to_registration_steps"]
                    </a>
                }
            </p>
        </div>
    </div>
</main>

@functions
{
    private static string ConvertToThousandSeparatedDecimal(int number) => (number / 100).ToString("#,##0.00");
}
