@using FrontendSchemeRegistration.UI.ViewModels.Shared
@model FrontendSchemeRegistration.UI.ViewModels.RegistrationApplication.PaymentOptionPayOnlineViewModel

@{
    ViewData["Title"] = Localizer["pay_online_title"];
    var headingViewModel = new ComplianceSchemeRegistrationHeadingViewModel(
        Model.ShowRegistrationCaption, 
        Model.RegistrationJourney, 
        null,
        Localizer["pay_online_through_GovUK"],
        Model.RegistrationYear);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
                <partial name="Partials/_ComplianceSchemeRegistrationHeading" model="headingViewModel"/>

                <p class="govuk-body">
                    @Localizer["pay_registration_fee_of"]<b>&pound;@Model.TotalAmount</b>
                    @Localizer["using_GovUk_secure_payments_service"]
                </p>
                <p class="govuk-body">
                    @Localizer["your_application_payment_ref"]<b>@Model.ApplicationReferenceNumber</b>
                </p>
                <p class="govuk-body">
                    <a class="govuk-button govuk-body" href="@Model.PaymentLink">@Localizer["pay_online_now"]</a>
                </p>
                <p class="govuk-body govuk-!-margin-top-4">
                    <a asp-controller="RegistrationApplication" asp-action="RegistrationTaskList" asp-route-registrationyear="@Model.RegistrationYear" class="govuk-link">@Localizer["view_registration_steps"]</a>
                </p>
            </div>
        </div>
    </main>
</div>
