@model FrontendSchemeRegistration.UI.ViewModels.RegistrationApplication.PaymentOptionPayOnlineViewModel

@{
    ViewData["Title"] = Localizer["pay_online_title"];
    var totalAmount = (Model.TotalAmountOutstanding / 100).ToString("#,##0.00");
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    @Localizer["pay_online_through_GovUK"]
                </h1>

                <p class="govuk-body">
                    @Localizer["pay_registration_fee_of"]<b>&pound;@totalAmount</b>
                    @Localizer["using_GovUk_secure_payments_service"]
                </p>
                <p class="govuk-body">
                    @Localizer["your_application_payment_ref"]<b>@Model.ApplicationReferenceNumber</b>
                </p>
                <p class="govuk-body">
                    <a class="govuk-button govuk-body" href="@Model.PaymentLink">@Localizer["pay_online_now"]</a>
                </p>
                <p class="govuk-body govuk-!-margin-top-4">
                    @if (Model.IsComplianceScheme)
                    {
                        <a asp-controller="ComplianceSchemeLanding" asp-action="Get" class="govuk-link">@Localizer["return_to_dashboard"]</a>
                    }
                    else
                    {
                        <a asp-controller="FrontendSchemeRegistration" asp-action="VisitHomePageSelfManaged" class="govuk-link">@Localizer["return_to_dashboard"]</a>
                    }
                </p>
            </div>
        </div>
    </main>
</div>
