@model FrontendSchemeRegistration.UI.ViewModels.RegistrationApplication.ProducerRegistrationGuidanceViewModel
@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.ViewModels.Shared

@{
    ViewData["Title"] = Localizer["producer_registration_guidance_title"];
    var nationName = Model.NationName.ToLower();

    var headingViewModel = new ComplianceSchemeRegistrationHeadingViewModel(
        Model.ShowRegistrationCaption,
        Model.RegistrationJourney,
        Model.IsComplianceScheme ? Localizer["scheme_registration_details"].Value : string.Format(Localizer["register_company"].Value, Model.OrganisationName),
        null,
        Model.RegistrationYear);
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="Partials/_ComplianceSchemeRegistrationHeading" model="headingViewModel" />

            @if (Model.IsComplianceScheme)
            {
                <p class ="govuk-body-l">
                    @Localizer["compliance_scheme_x", Model.ComplianceScheme]
                    <br/>@Localizer["regulator"]@Localizer[$"{nationName}.environmental_regulator"]
                </p>
            }
            else
            {
                <p class="govuk-body-l">@Localizer["organisation_id_x", Model.OrganisationNumber]</p>
            }
            <div class="govuk-inset-text">
                <p class="govuk-body">
                <strong>
                        @Localizer["ensure_your_packaging_data_for_year_been_reported_before_registering", Model.RegistrationYear - 1, Model.RegistrationYear]
                    </strong>
                </p>
            </div>
            <p class="govuk-body">
                @Localizer["if_you_are_obligated_under_PRO_2024_you_must_register"]<br/>
                @Localizer["to_apply_for_registration_you_must"]
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li class="govuk-body">@Localizer["upload_your_organisation_data"]</li>
                <li class="govuk-body">@Localizer["make_payment"]</li>
                <li class="govuk-body">@Localizer["submit_your_application"]</li>
            </ul>
            <p class="govuk-body">@Localizer["you_must_be_approved_or_delegated_person_to_submit_data_complete_registration"]</p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="@GuidanceLinks.ProducerResponsibilitiesForPackagingWaste">@Localizer["more_about_packaging_responsibilities_and_check_need_for_action"]</a>
            </p>

            <a asp-action="RegistrationTaskList" asp-route-registrationyear="@Model.RegistrationYear" asp-route-registrationjourney="@Model.RegistrationJourney" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                @SharedLocalizer["continue"]
            </a>
        </div>
    </div>
</main>
