@using FrontendSchemeRegistration.Application.DTOs.Submission
@using FrontendSchemeRegistration.UI.Sessions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontendSchemeRegistration.UI.ViewModels.RegistrationApplication.RegistrationTaskListViewModel

@{
    ViewData["Title"] = Localizer[Model.PageTitle];

    var canStartViewPayRegistrationFeeStep = Model.PaymentViewStatus is RegistrationTaskListStatus.NotStarted or RegistrationTaskListStatus.Completed;
    var canStartSubmitRegistrationApplicationStep = Model.AdditionalDetailsStatus is RegistrationTaskListStatus.NotStarted or RegistrationTaskListStatus.Completed;
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            @if (!string.IsNullOrEmpty(Model.Caption))
            {
                <p class="govuk-caption-l">@Localizer[Model.PageHeading, Model.Caption]</p>
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    @Model.OrganisationName
                </h1>
            }
            else
            {
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    @Localizer[Model.PageHeading, Model.OrganisationName]
                </h1>    
            }
            
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        @if (Model.FileUploadStatus is RegistrationTaskListStatus.NotStarted or RegistrationTaskListStatus.CanNotStartYet ||
                             Model.ApplicationStatus is ApplicationStatusType.FileUploaded or ApplicationStatusType.SubmittedAndHasRecentFileUpload)
                        {
                            <a asp-controller="RegistrationApplication" asp-action="RedirectToFileUpload" asp-route-registrationyear="@Model.RegistrationYear"
                               class="govuk-link govuk-link--no-visited-state">
                                @Localizer[Model.FileUploadTask]
                            </a>
                        }
                        else
                        {
                            @Localizer[Model.FileUploadTask]
                        }
                        @if (Model.FileUploadStatus == RegistrationTaskListStatus.Completed)
                        {
                            <br/>
                            @Localizer[Model.CompletedFileUploadTask]
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        @{ ShowProgressStatus(Model.FileUploadStatus); }
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        @if (canStartViewPayRegistrationFeeStep)
                        {
                            <a asp-controller="RegistrationApplication" asp-action="RegistrationFeeCalculations" asp-route-registrationyear="@Model.RegistrationYear"
                               class="govuk-link govuk-link--no-visited-state">
                                @Localizer[Model.ViewPaymentTask]
                            </a>
                        }
                        else
                        {
                            @Localizer[Model.ViewPaymentTask]
                        }
                        @if (Model.PaymentViewStatus == RegistrationTaskListStatus.Completed)
                        {
                            <br/>
                            @Localizer[Model.CompletedViewPaymentTask]
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        @{ ShowProgressStatus(Model.PaymentViewStatus); }
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        @if (canStartSubmitRegistrationApplicationStep)
                        {
                            <a asp-controller="RegistrationApplication" asp-action="AdditionalInformation" asp-route-registrationyear="@Model.RegistrationYear"
                               class="govuk-link govuk-link--no-visited-state">
                                @Localizer[Model.SubmitRegistrationApplicationTask]
                            </a>
                        }
                        else
                        {
                            @Localizer[Model.SubmitRegistrationApplicationTask]
                        }
                        @if (Model.AdditionalDetailsStatus is RegistrationTaskListStatus.Completed)
                        {
                            <br/>
                            @Localizer[Model.CompletedSubmitRegistrationApplicationTask]
                        }
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        @{ ShowProgressStatus(Model.AdditionalDetailsStatus); }
                    </dd>
                </div>
            </dl>
            @if (Model.IsComplianceScheme)
            {
                <p class="govuk-body govuk-!-margin-top-4">
                    <a asp-controller="ComplianceSchemeLanding" asp-action="Get" class="govuk-link">@Localizer["return_to_dashboard"]</a>
                </p>
            }
            else
            {
                <p class="govuk-body govuk-!-margin-top-4">
                    <a asp-controller="FrontendSchemeRegistration" asp-action="HomePageSelfManaged" class="govuk-link">@Localizer["return_to_dashboard"]</a>
                </p>
            }
        </div>
    </div>
</main>

@{
    void ShowProgressStatus(RegistrationTaskListStatus status)
    {
        if (status == RegistrationTaskListStatus.CanNotStartYet)
        {
            <strong class="govuk-tag govuk-tag--grey">@Localizer["can_not_start_yet_status"]</strong>
        }
        else if (status == RegistrationTaskListStatus.NotStarted)
        {
            <strong class="govuk-tag govuk-tag--grey">@Localizer["not_started_status"]</strong>
        }
        else if (status == RegistrationTaskListStatus.Pending)
        {
            <strong class="govuk-tag govuk-tag--yellow">@Localizer["pending_status"]</strong>
        }
        else if (status == RegistrationTaskListStatus.Completed)
        {
            <strong class="govuk-tag govuk-tag--blue">@Localizer["completed_status"]</strong>
        }
    }
}