@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.ViewModels.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = Localizer["update-registration-data"];
    var registrationYear = Context.Request.Query["registrationyear"].FirstOrDefault();
    var headingViewModel = new ComplianceSchemeRegistrationHeadingViewModel(
        true, 
        Enum.TryParse(Context.Request.Query["registrationjourney"].FirstOrDefault(), out RegistrationJourney registrationJourney) ? registrationJourney : null,
        null,
        Localizer["update-registration-data"],
        int.TryParse(registrationYear, out var regYearInt) ? regYearInt : null);
}
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <partial name="Partials/_ComplianceSchemeRegistrationHeading" model="headingViewModel"/>
            <div class="govuk-inset-text">
                <p class="govuk-body">@Localizer["your-organisation-reference-number-wont-change"]</p>
            </div>
            <p class="govuk-body">@Localizer["to-resubmit-your-data"]</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Localizer["prepare-and-upload"]</li>
                <li>@Localizer["view-and-pay"]</li>
                <li>@Localizer["submit-the-updated-data"]</li>
            </ul>
            <p class="govuk-body">
                @Localizer["you-are-strongly-advised"]
                <a href="@GuidanceLinks.HowToReportOrganisationDetails" target="_blank" class="govuk-link govuk-link--no-visited-state">
                    @Localizer["reporting-organisation-details"]
                </a> @Localizer["reporting-organisation-details-before-you-start"]
            </p>
            <a asp-controller="RegistrationApplication"
               asp-action="RegistrationTaskList"
               asp-route-registrationjourney="@Context.Request.Query["registrationjourney"]"
               asp-route-registrationyear="@Context.Request.Query["registrationyear"]"
               asp-route-IsResubmission="true"
               role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                @SharedLocalizer["continue"]
            </a>
        </div>
    </div>
</main>