@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.Constants
@using FrontendSchemeRegistration.UI.ViewModels.Prns
@model PrnObligationViewModel

<p class="govuk-body">
    @{
        var role = (Model.OrganisationRole == OrganisationRoles.Producer) ? @Localizer["producer"] : @Localizer["compliance_scheme"];
    }
    @role: @Model.OrganisationName<br>
    @Localizer["regulator"]:
    @if (Model.NationId.HasValue)
    {
        @Localizer[Model.NationId.Value switch
            {
                (int)Nation.England => "regulator_england",
                (int)Nation.Scotland => "regulator_scotland",
                (int)Nation.Wales => "regulator_wales",
                (int)Nation.NorthernIreland => "regulator_northern_ireland",
                _ => "regulator"
            }]
    }
</p>