@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.Constants
@using FrontendSchemeRegistration.UI.ViewModels.Prns
@model PrnObligationViewModel
<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    @Localizer["manage_your_recycling_obligations", Model.CurrentYear]
</h1>
<p class="govuk-body">
    @if (Model.OrganisationRole == OrganisationRoles.Producer)
    {
        @Localizer["producer"]
    }
    else
    {
        @Localizer["compliance_scheme"]        
    }
    : @Model.OrganisationName<br>
    @Localizer["regulator"]:
    @if (Model.NationId.HasValue)
    {
        @Localizer[Model.NationId.Value switch
            {
                (int)Nation.England => "regulator_england",
                (int)Nation.Scotland => "regulator_scotland",
                (int)Nation.Wales => "regulator_wales",
                (int)Nation.NorthernIreland => "regulator_northern_ireland",
                _ => "regulator"
            }]
    }
</p>
<p class="govuk-body">@Localizer["you_have_until"] <strong>@Localizer["january"] @Model.DeadlineYear</strong> @Localizer["to_meet_your_recycling_obligations_for"] @Model.CurrentYear.</p>
<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        @Localizer["enforcement_action_warning"]
    </strong>
</div>