@using FrontendSchemeRegistration.UI.ViewModels.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model PrnViewModel
@{
    string twoLetterISOLanguageName = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
    var isPdf = ViewData["IsPdf"] as bool? ?? false;
}
<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <span class="govuk-fieldset__heading">
            @Localizer[Model.IsPrn ? "prn_details" : "pern_details"]
        </span>
    </legend>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="date-issued">@Localizer["date_issued"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="date-issued"><strong>@Model.DateIssuedDisplay</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="relates-to-waste-received-in-december">@Localizer["relates_to_waste_received_in_december"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="relates-to-waste-received-in-december">
                <strong>@SharedLocalizer[Model.DecemberWasteDisplay]</strong>
            </div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="material">@Localizer["material"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="material">
                <strong>
                    @if (isPdf && (PrnDataLocalizer[Model.Material].Value.ToLowerInvariant() == "paper, board or fibre-based composite material"
                    || PrnDataLocalizer[Model.Material].Value.ToLowerInvariant() == "papur, bwrdd neu ddeunydd cyfansawdd sy'n seiliedig ar ffeibrau"))
                    {
                        @* special case, match the material type on the NPWD version of the PDF *@
                        @Localizer["paper_and_board_pdf"]
                    }
                    else
                    {
                        @PrnDataLocalizer[Model.Material]
                    }
                </strong>
             </div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="recyclingprocess">@Localizer["recycling_process"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="recyclingprocess"><strong>@PrnDataLocalizer[Model.RecyclingProcess]</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="tonnage">@Localizer["tonnage"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="tonnage"><strong>@Model.Tonnage</strong></div>
        </div>
    </div>
    <hr />
    @if (isPdf)
    {
        <div class="govuk-grid-row only-print">
            <div class="govuk-grid-column-one-half">
                <label class="govuk-label" for="tonnageinwords">@Localizer["tonnage_in_words"]</label>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="govuk-label" id="tonnageinwords"><strong>@Model.Tonnage.ToDigitsAsWords(twoLetterISOLanguageName)</strong></div>
            </div>
        </div>
        <hr />
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="packaging-producer-or-compliance-scheme">@Localizer["packaging_producer_or_compliance_scheme"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="packaging-producer-or-compliance-scheme"><strong>@Model.NameOfProducerOrComplianceScheme</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="note">@Localizer["note"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="note">
                <strong>
                    @if (string.IsNullOrWhiteSpace(@Model.AdditionalNotes))
                    {
                        @Localizer["not_provided"]
                    }
                    else
                    {
                        @Model.AdditionalNotes
                    }
                </strong>
            </div>
        </div>
    </div>
    @if (!isPdf)
    {
        <hr />
    }
</fieldset>