@using FrontendSchemeRegistration.UI.ViewModels.Prns
@using FrontendSchemeRegistration.Application.Constants;
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model PrnViewModel

@{
    var isPdf = ViewData["IsPdf"] as bool? ?? false;
    string status = PrnDataLocalizer[Model.ApprovalStatus].Value.ToString();
    string statusMeaning = Localizer[Model.ApprovalStatusExplanationTranslation].Value.ToString();
    string meaning = statusMeaning.ToString();

    if (isPdf && Model.ApprovalStatus == PrnStatus.Rejected)
    {
        var source = Model.IsPrn ? "prn" : "pern";
        status = Localizer["cancel_status_for_pdf"].Value.ToString();
        meaning = Localizer["prn_awaiting_cancellation_explanation"].Value.Replace("{0}", source.ToString());
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <label class="govuk-label" for="status">@Localizer["status"]</label>
    </div>
    <div class="govuk-grid-column-one-half">
        <strong class="govuk-tag govuk-tag--@Model.ApprovalStatusDisplayCssColour" id="status">
            @status
        </strong>
    </div>
</div>
<hr/>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <label class="govuk-label" for="status-meaning">@Localizer["status_meaning"]</label>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-label" id="status-meaning"><strong>@meaning</strong></div>
    </div>
</div>
<hr/>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <label class="govuk-label" for="issued-by">@Localizer["issued_by"]</label>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-label" id="issued-by"><strong>@Model.IssuedBy</strong></div>
    </div>
</div>
<hr />
@if (Model.IsPrn)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="reproccessing-site">@Localizer["reproccessing_site"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="reproccessing-site"><strong>@Model.ReproccessingSiteAddress</strong></div>
        </div>
    </div>
    <hr />
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <label class="govuk-label" for="authorised-by">@Localizer["authorised_by"]</label>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-label" id="authorised-by"><strong>@Model.AuthorisedBy</strong></div>
    </div>
</div>
<hr />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <label class="govuk-label" for="position">@Localizer["position"]</label>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-label" id="position"><strong>@Model.Position</strong></div>
    </div>
</div>

<hr />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <label class="govuk-label" for="accreditation-number">@Localizer["accreditation_number"]</label>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-label" id="accreditation-number"><strong>@Model.AccreditationNumber</strong></div>
    </div>
</div>
<hr />