@using FrontendSchemeRegistration.UI.ViewModels.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model PrnViewModel

<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <span class="govuk-fieldset__heading">
            @Localizer[Model.IsPrn ? "prn_details" : "pern_details"]
        </span>
    </legend>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="date-issued">@Localizer["date_issued"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="date-issued"><strong>@Model.DateIssuedDisplay</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="relates-to-waste-received-in-december">@Localizer["relates_to_waste_received_in_december"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="relates-to-waste-received-in-december">
                <strong>
                    @if ((bool)(ViewBag.DecemberWasteRulesApply ?? false))
                    {
                        @Localizer[(Model.IsDecemberWaste ? "relates_to_waste_received_in_december_yes" : "relates_to_waste_received_in_december_no"), Model.IssueYear, Model.IssueYear + 1]
                    }
                    else
                    {
                        @SharedLocalizer[Model.DecemberWasteDisplay]
                    }
                </strong>
            </div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="material">@Localizer["material"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="material"><strong>@PrnDataLocalizer[Model.Material]</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="recyclingprocess">@Localizer["recycling_process"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="recyclingprocess"><strong>@PrnDataLocalizer[Model.RecyclingProcess]</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="tonnage">@Localizer["tonnage"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="tonnage"><strong>@Model.Tonnage</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="packaging-producer-or-compliance-scheme">@Localizer["packaging_producer_or_compliance_scheme"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="packaging-producer-or-compliance-scheme"><strong>@Model.NameOfProducerOrComplianceScheme</strong></div>
        </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="note">@Localizer["note"]</label>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-label" id="note"><strong>@Model.AdditionalNotes</strong></div>
        </div>
    </div>
    <hr />
</fieldset>