@using FrontendSchemeRegistration.UI.ViewModels.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model PrnViewModel

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">@Localizer[Model.IsPrn ? "prn_details" : "pern_details"]</caption>
    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Localizer["date_issued"]</td>
            <th scope="row" class="govuk-table__header">
                @Model.DateIssuedDisplay
            </th>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Localizer["relates_to_waste_received_in_december"]</td>
            <th scope="row" class="govuk-table__header">
                @Localizer[(Model.IsDecemberWaste ? "relates_to_waste_received_in_december_yes" : "relates_to_waste_received_in_december_no"), Model.IssueYear, Model.IssueYear + 1]
            </th>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Localizer["material"]</td>
            <th scope="row" class="govuk-table__header">
                @PrnDataLocalizer[Model.Material]
            </th>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Localizer["tonnage"]</td>
            <th scope="row" class="govuk-table__header">
                @Model.Tonnage
            </th>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Localizer["packaging_producer_or_compliance_scheme"]</td>
            <th scope="row" class="govuk-table__header">
                @Model.NameOfProducerOrComplianceScheme
            </th>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Localizer["note"]</td>
            <th scope="row" class="govuk-table__header">
                @Model.AdditionalNotes
            </th>
        </tr>

    </tbody>
</table>