@model FrontendSchemeRegistration.UI.ViewModels.RegistrationApplication.ComplianceSchemeFeeCalculationBreakdownViewModel

<table class="govuk-table govuk-table--small-text-until-tablet govuk-!-margin-top-6">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">@Localizer["item"]</th>
            <th scope="col" class="govuk-table__header govuk-!-padding-left-2">@Localizer["description"]</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">@Localizer["amount"]</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@Localizer["compliance_scheme"]</th>
            <td class="govuk-table__cell govuk-!-padding-left-2">1</td>
            <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.RegistrationFee)</td>
        </tr>

        @if (Model.SmallProducersCount > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["epr_small_producer"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">@Model.SmallProducersCount</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.SmallProducersFee)</td>
            </tr>
        }

        @if (Model.LargeProducersCount > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["epr_large_producer"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">@Model.LargeProducersCount</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.LargeProducersFee)</td>
            </tr>
        }

        @if (Model.OnlineMarketplaceCount > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["online_marketplaces"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">@Model.OnlineMarketplaceCount</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.OnlineMarketplaceFee)</td>
            </tr>
        }

        @if (Model.ClosedLoopRecyclingCount > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["closed_loop_packaging_waste"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">@Model.ClosedLoopRecyclingCount</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.ClosedLoopRecyclingFee)</td>
            </tr>
        }

        @if (Model.LateProducersCount > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["late_submissions"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">@Model.LateProducersCount</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.LateProducerFee)</td>
            </tr>
        }

        @if (Model.SubsidiaryCompanyCount > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                    @Localizer["subsidiaries"]
                    <p class="govuk-!-font-weight-regular">@Localizer["subsidiaries_amount_explanation"]</p>
                    <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-regular">
                        <li>@Localizer["closed_loop_packaging_waste_bullet"]</li>
                        <li>@Localizer["online_marketplaces_bullet"]</li>
                    </ul>
                </th>
                <td class="govuk-table__cell govuk-!-padding-left-2">@Model.SubsidiaryCompanyCount</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.SubsidiaryCompanyFee)</td>
            </tr>
        }

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@Localizer["sub_total_amount"]</th>
            <td class="govuk-table__cell govuk-!-padding-left-2"></td>
            <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalFeeAmount)</td>
        </tr>

        @if (Model.TotalPreviousPayments != 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["previous_payments"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2"></td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalPreviousPayments)</td>
            </tr>
        }

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@Localizer["total_outstanding"]</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__header govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalAmountOutstanding)</td>
        </tr>
    </tbody>
</table>

@functions
{
    private static string ConvertToThousandSeparatedDecimal(int number) => (number / 100).ToString("#,##0.00");
}
