@model FrontendSchemeRegistration.UI.ViewModels.RegistrationApplication.FeeCalculationBreakdownViewModel

<table class="govuk-table govuk-table--small-text-until-tablet govuk-!-margin-top-6">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">@ViewData["Title"]</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">@Localizer["item"]</th>
            <th scope="col" class="govuk-table__header govuk-!-padding-left-2">@Localizer["description"]</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">@Localizer["amount"]</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@Localizer[string.Equals(Model.OrganisationSize, "Small", StringComparison.OrdinalIgnoreCase) ? "epr_small_producer" : "epr_large_producer"]</th>
            <td class="govuk-table__cell govuk-!-padding-left-2">1</td>
            <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.BaseFee)</td>
        </tr>

        @if (Model.IsOnlineMarketplace)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["online_marketplaces"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">1</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.OnlineMarketplaceFee)</td>
            </tr>
        }

        @if (Model.IsClosedLoopRecycling)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["closed_loop_packaging_waste"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">1</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.ClosedLoopRecyclingFee)</td>
            </tr>
        }

        @if (Model.ProducerLateRegistrationFee > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["late_submissions"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">1</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.ProducerLateRegistrationFee)</td>
            </tr>
        }

        @if (Model.NumberOfSubsidiaries > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["subsidiaries"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">@Model.NumberOfSubsidiaries</td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalSubsidiaryFee)</td>
            </tr>
            
            @if (Model.NumberOfSubsidiariesBeingClosedLoopRecycling > 0)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Localizer["subsidiaries_as_closed_loop"]</th>
                    <td class="govuk-table__cell govuk-!-padding-left-2">@Model.NumberOfSubsidiariesBeingClosedLoopRecycling</td>
                    <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalSubsidiaryClosedLoopRecyclingFee)</td>
                </tr>
            }

            @if (Model.NumberOfSubsidiariesBeingOnlineMarketplace > 0)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Localizer["subsidiaries_as_online_marketplace"]</th>
                    <td class="govuk-table__cell govuk-!-padding-left-2">@Model.NumberOfSubsidiariesBeingOnlineMarketplace</td>
                    <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalSubsidiaryOnlineMarketplaceFee)</td>
                </tr>
            }
        }

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@Localizer["sub_total_amount"]</th>
            <td class="govuk-table__cell govuk-!-padding-left-2"></td>
            <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalFeeAmount)</td>
        </tr>

        @if (Model.TotalPreviousPayments > 0)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Localizer["previous_payments"]</th>
                <td class="govuk-table__cell govuk-!-padding-left-2"></td>
                <td class="govuk-table__cell govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalPreviousPayments)</td>
            </tr>
        }

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@Localizer["total_outstanding"]</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__header govuk-table__header--numeric">&pound;@ConvertToThousandSeparatedDecimal(Model.TotalAmountOutstanding)</td>
        </tr>
    </tbody>
</table>

@functions
{
    private static string ConvertToThousandSeparatedDecimal(int number) => (number / 100).ToString("#,##0.00");
}
