@using FrontendSchemeRegistration.UI.ViewModels.Prns
@model PrnViewModel

@{
    var recyclingNoteStatus = new RecyclingNoteStatusViewModel()
            {
                IsPrn = Model.IsPrn,
                AuthorisedBy = Model.AuthorisedBy,
                IssuedBy = Model.IssuedBy,
                ReproccessingSite = Model.ReproccessingSiteAddress,
                AccreditationNumber = Model.AccreditationNumber,
                Status = Model.ApprovalStatus,
                ApprovalStatusDisplayCssColour = Model.ApprovalStatusDisplayCssColour
            };

    var recyclingNoteDetails = new RecyclingNoteDteailsViewModel()
            {
                IsPrn = Model.IsPrn,
                DateIssued = Model.DateIssued,
                IsDecemberWaste = Model.IsDecemberWaste,
                Material = Model.Material,
                Tonnage = Model.Tonnage,
                ProducerOrComplianceSchemeName = Model.NameOfProducerOrComplianceScheme,
                Note = Model.AdditionalNotes
            };
};

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form class="form">
                @await Html.PartialAsync("Partials/_agenciesLogo.cshtml")

                <h1 class="govuk-heading-l">@Localizer[(Model.IsPrn ? "packaging_recycling_note" : "packaging_export_recycling_note")]</h1>
                <div class="govuk-inset-text app-inset-text">
                    <div class="govuk-heading-m">
                        @Localizer[(Model.IsPrn ? "prn_number" : "pern_number")]: <strong>@Html.DisplayFor(x => x.PrnOrPernNumber)</strong>
                    </div>
                    <div class="govuk-heading-m">
                        @Localizer["year"]: <strong>@Html.DisplayFor(x => x.Year)</strong>
                    </div>
                </div>

                @await Html.PartialAsync("Partials/_recyclingNoteStatus.cshtml", recyclingNoteStatus)

                @*               <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m"></caption>
                <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Localizer["status"]</td>
                <th scope="row" class="govuk-table__header">
                <strong class="govuk-tag govuk-tag--@Model.ApprovalStatusDisplayCssColour">
                @Html.DisplayFor(x => x.ApprovalStatus)
                </strong>
                </th>
                </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Localizer["status_meaning"]</td>
                <th scope="row" class="govuk-table__header">
                @Html.DisplayFor(x => x.ApprovalStatusExplanation)
                </th>
                </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Localizer["issued_by"]</td>
                <th scope="row" class="govuk-table__header">
                @Html.DisplayFor(x => x.IssuedBy)
                </th>
                </tr>
                @if (Model.IsPrn)
                {
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Localizer["reproccessing_site"]</td>
                <th scope="row" class="govuk-table__header">
                @Html.DisplayFor(x => x.ReproccessingSiteAddress)
                </th>
                </tr>
                }
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Localizer["authorised_by"]</td>
                <th scope="row" class="govuk-table__header">
                @Html.DisplayFor(x => x.AuthorisedBy)
                </th>
                </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Localizer["accreditation_number"]</td>
                <th scope="row" class="govuk-table__header">
                @Html.DisplayFor(x => x.AccreditationNumber)
                </th>
                </tr>

                </tbody>
                </table> *@

                <br>

                @await Html.PartialAsync("Partials/_recyclingNoteDetails.cshtml", recyclingNoteDetails)

 @*                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">
                        @Localizer[(Model.IsPrn ? "prn_details" : "pern_details")]
                    </caption>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Localizer["date_issued"]</td>
                            <th scope="row" class="govuk-table__header">
                                @Html.DisplayFor(x => x.DateIssuedDisplay)
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Localizer["relates_to_waste_received_in_december"]</td>
                            <th scope="row" class="govuk-table__header">
                                @Html.DisplayFor(x => x.DecemberWasteDisplay)
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Localizer["material"]</td>
                            <th scope="row" class="govuk-table__header">
                                @Html.DisplayFor(x => x.Material)
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Localizer["tonnage"]</td>
                            <th scope="row" class="govuk-table__header">
                                @Html.DisplayFor(x => x.Tonnage)
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Localizer["packaging_producer_or_compliance_scheme"]</td>
                            <th scope="row" class="govuk-table__header">
                                @Html.DisplayFor(x => x.NameOfProducerOrComplianceScheme)
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Localizer["note"]</td>
                            <th scope="row" class="govuk-table__header">
                                @Html.DisplayFor(x => x.AdditionalNotes)
                            </th>
                        </tr>

                    </tbody>
                </table> *@

                <br>
                <br>

                <button class="govuk-button" type="submit" asp-action="ConfirmAcceptSinglePrn" asp-controller="Prns" asp-route-id="@Model.Id">
                    @Localizer[(Model.IsPrn ? "accept_this_prn" : "accept_this_pern")]
                </button>

                <div class="prn-margin-left-20"></div>
                <button class="govuk-button govuk-button--secondary" type="submit" asp-action="ConfirmRejectSinglePrn" asp-controller="Prns">
                    @Localizer[(Model.IsPrn ? "reject_this_prn" : "reject_this_pern")]
                </button>

                <p class="govuk-body">
                    @Html.ActionLink(Localizer[(Model.IsPrn ? "download_this_prn" : "download_this_pern")].Value, null, null, null,
                             new
                             {
                                 @class = "govuk-link govuk-link--no-visited-state",
                                 @href = "#"
                             })
                </p>
            </form>

        </div>
    </div>
</main>