@using FrontendSchemeRegistration.UI.ViewModels.Prns
@model PrnViewModel

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

                @await Html.PartialAsync("Partials/_agenciesLogo.cshtml")

                <h1 class="govuk-heading-l">@Localizer[(Model.IsPrn ? "packaging_recycling_note" : "packaging_export_recycling_note")]</h1>
                <div class="govuk-inset-text app-inset-text">
                    <div class="govuk-heading-m">
                        @Localizer[(Model.IsPrn ? "prn_number" : "pern_number")]: <strong>@Html.DisplayFor(x => x.PrnOrPernNumber)</strong>
                    </div>
                    <div class="govuk-heading-m">
                        @Localizer["year"]: <strong>@Html.DisplayFor(x => x.Year)</strong>
                    </div>
                </div>
                @await Html.PartialAsync("Partials/_recyclingNoteStatus.cshtml", Model)
                <br>
                @await Html.PartialAsync("Partials/_recyclingNoteDetails.cshtml", Model)
                <br>
                <br>

                <div class="govuk-button-group">
                    @Html.ActionLink(Localizer[(Model.IsPrn ? "accept_this_prn" : "accept_this_pern")].Value, "ConfirmAcceptSinglePrn", "Prns",
                         new
                         {
                             @id = Model.ExternalId
                         },
                         new
                         {
                             @class = "govuk-button"
                         })

                    <button class="govuk-button govuk-button--secondary" type="submit" asp-action="ConfirmRejectSinglePrn" asp-controller="Prns">
                        @Localizer[(Model.IsPrn ? "reject_this_prn" : "reject_this_pern")]
                    </button>

                </div>

                <p class="govuk-body">
                    @Html.ActionLink(Localizer[(Model.IsPrn ? "download_this_prn" : "download_this_pern")].Value, null, null, null,
                             new
                             {
                                 @class = "govuk-link govuk-link--no-visited-state",
                                 @href = "#"
                             })
                </p>

        </div>
    </div>
</main>