@using FrontendSchemeRegistration.UI.Controllers.Prns
@using FrontendSchemeRegistration.UI.ViewModels.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer
@model PrnListViewModel

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-xl">View all PRNs and PERNs</h1>
            <div class="govuk-form-group">
                <div class="prn-align-right">
                    <label class="govuk-visually-hidden" for="select-status ">Select a filter</label>
                    <select class="govuk-select" id="select-status" name="sort">
                        <option selected>Filter by </option>
                        <option value="published">Accepted </option>
                        <option value="comments">Awaiting acceptance</option>
                        <option value="comments">Cancelled</option>
                        <option value="updated">Rejected</option>
                    </select>
                </div>
            </div>

            <div class="govuk-form-group">
                <div class="prn-align-right">
                    <label class="govuk-visually-hidden" for="select-status ">Select a filter</label>
                    <select class="govuk-select" id="select-status" name="sort">
                        <option selected>Sort by </option>
                        <option value="published">Date issued</option>
                        <option value="updated">Issued by</option>
                        <option value="updated">Tonnage</option>
                        <option value="updated">Material</option>
                    </select>
                </div>
            </div>

            <table class="govuk-table">
	            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">@Localizer["view_and_select_prns_table_description"]</caption>
	            <thead class="govuk-table__head">
	            <tr class="govuk-table__row">
		            <th class="govuk-table__header">PRN and PERN number</th>
		            <th class="govuk-table__header">Material</th>
		            <th class="govuk-table__header">Date issued</th>
		            <th class="govuk-table__header">December waste</th>
		            <th class="govuk-table__header">Issued by</th>
		            <th class="govuk-table__header">Tonnage</th>
		            <th class="govuk-table__header">Status</th>
	            </tr>
	            </thead>
	            <tbody class="govuk-table__body">
	            @for (int i = 0; i < Model?.Prns?.Count(); i++)
	            {
		            <tr class="govuk-table__row">
			            <td class="govuk-table__cell">
				            <a class="govuk-link" href="@Url.Action(nameof(PrnsController.SelectSinglePrn), "Prns", new { id = Model.Prns[i].ExternalId })">@Model.Prns[i].PrnOrPernNumber<span class="govuk-visually-hidden">PER or PERN number</span></a>
			            </td>
			            <td class="govuk-table__cell">@Html.DisplayFor(x => x.Prns[i].Material)</td>
			            <td class="govuk-table__cell">@Html.DisplayFor(x => x.Prns[i].DateIssuedDisplay)</td>
			            <td class="govuk-table__cell">@Html.DisplayFor(x => x.Prns[i].DecemberWasteDisplay)</td>
			            <td class="govuk-table__cell">@Html.DisplayFor(x => x.Prns[i].IssuedBy)</td>
			            <td class="govuk-table__cell">@Html.DisplayFor(x => x.Prns[i].Tonnage)</td>
			            <td class="govuk-table__cell">
				            <strong class="govuk-tag govuk-tag--@Model?.Prns?[i].ApprovalStatusDisplayCssColour">
					            @PrnDataLocalizer[Model.Prns[i].ApprovalStatus]
				            </strong>
			            </td>
		            </tr>
	            }
	            </tbody>
            </table>

            <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span>
                    </a>
                </div>
                <ul class="govuk-pagination__list">

                    <li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-current="Page 1">
                            1
                        </a>
                    </li>
                    <li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-label="page">
                            2
                        </a>
                    </li>
                    <li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                            3
                        </a>
                    </li>
                </ul>
                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                        <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                    </a>
                </div>
            </nav>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--xl">
        </div>
    </div>
</main>