@model FileUploadViewModel

@{
    ViewData["Title"] = Localizer["upload_packaging_data_to_your_account"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }
            
            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">@Localizer[Model.IsComplianceScheme ? "report_your_members_packaging_data" : "report_your_packaging_data"]</h1>

            <h2 class="govuk-heading-m">@Localizer["before_you_start"]</h2>
            <p class="govuk-body no-bottom-margin">
                @Localizer["read_the_guidance_on"] <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                      href="@GuidanceLinks.HowToReportPackagingData">@Localizer["how_to_report_organisation_details"]</a>.
            </p>
            <p class="govuk-body">
                @Localizer["there_are_template_documents_you_can_use_to_build_your_files"]
            </p>
            <div class="govuk-warning-text govuk-!-padding-bottom-2">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">@Localizer["text_assistive.warning"]</span>
                    @Localizer["file_rejection_warning_text"]
                    @Html.ActionLink(Localizer["manage_your_subsidiaries"].Value,
                             "SubsidiariesList",
                             "FileUploadSubsidiaries",
                             null,
                             new
                             {
                                 @class = "govuk-link govuk-link--no-visited-state"
                             }).
                </strong>
            </div>

    


            <h2 class="govuk-heading-m">@Localizer["upload_your_file"]</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Localizer["file_must_be_a_csv"]</li>
            </ul>
            <p class="govuk-body">
                @Localizer["it_may_take_a_few_minutes_for_your_file_upload..."]
            </p>

            @using (Html.BeginForm(FormMethod.Post, new
            {
                enctype = "multipart/form-data"
            }))
            {
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")" data-testid="pom-data-upload-form">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        @await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("file"))
                    }
                    <input class="govuk-file-upload" title="Choose a file" name="file" type="file" id="file" data-testid="pom-upload-choose-file-button">
                </div>
                <button class="govuk-button" data-module="govuk-button" type="submit" data-testid="pom-data-upload-button">@Localizer["upload_file"]</button>
            }
        </div>
    </div>
</main>