@using FrontendSchemeRegistration.UI.Constants

@model FileUploadViewModel

@{
    ViewData["Title"] = Localizer["upload_packaging_data_to_your_account"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }
            
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@Localizer[Model.IsComplianceScheme ? "report_your_members_packaging_data" : "report_your_packaging_data"]</h1>

            <h2 class="govuk-heading-m">@Localizer["before_you_start"]</h2>
            <p class="govuk-body">
                @Localizer["read_the_guidance_on"] <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                      href="@GuidanceLinks.Value.HowToReportOrganisationDetails">@Localizer["how_to_report_organisation_details"]</a>
            </p>
            <p class="govuk-body">
                @Localizer["there_are_template_documents_you_can_use_to_build_your_files"]
            </p>
            <div class="govuk-warning-text govuk-!-padding-bottom-2">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">@Localizer["text_assistive.warning"]</span>
                    @Localizer["file_rejection_warning_text"]
                    @Html.ActionLink(Localizer["manage_your_subsidiaries"].Value,
                             "SubsidiariesList",
                             "FileUploadSubsidiaries",
                             null,
                             new
                             {
                                 @class = "govuk-link govuk-link--no-visited-state"
                             })
                </strong>
            </div>

    


            <feature name="@FeatureFlags.ShowDirectProducerSubsidiaries">
            @if (!Model.IsComplianceScheme)
            {
                <h2 class="govuk-heading-m">@Localizer["before_you_upload_your_file"]</h2>
                <p class="govuk-body">@Localizer["you_can"]</p>
                <ul class="govuk-list govuk-list--bullet">
                        <li>@Localizer["add_a"] <a class="govuk-link govuk-link--no-visited-state" asp-controller="SubsidiaryCompaniesHouseNumber" asp-action="Get">@Localizer["companies_house_number_search"]</a></li>
                    @* <li>@Localizer["view_and_manage_your"] <a class="govuk-link govuk-link--no-visited-state" asp-controller="SubsidiaryCompaniesHouseNumberSearch" asp-action="Get">@Localizer["subsidiaries"]</a></li> *@
                    @* <li>@Localizer["tell_us_who_submitting_on_your_behalf_if_you_are_part_of_a"] <a class="govuk-link govuk-link--no-visited-state" asp-controller="SubsidiaryCompaniesHouseNumberSearch" asp-action="Get">@Localizer["group"]</a></li>--> *@
                       <li>@Localizer["view_and_manage_your"] @Localizer["subsidiaries"]</li>
                        <li>@Localizer["tell_us_who_is_submitting_on_your_behalf_if_you_are_part_of_a"] @Localizer["group"]</li>
                </ul>
                <p class="govuk-body">@Localizer["if_you_are_part_of_a_group_contact_parent_organisation_to_add_you_to_the_group"]</p>
            }
            </feature>
            <h2 class="govuk-heading-m">@Localizer["upload_your_file"]</h2>
            <p class="govuk-body">@SharedLocalizer["the_file_may_take_a_few_minutes_to_upload"]</p>
            <p class="govuk-body">@SharedLocalizer["do_not_close_the_window_while_the_file_is_uploading"]</p>

            @using (Html.BeginForm(FormMethod.Post, new
            {
                enctype = "multipart/form-data"
            }))
            {
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")" data-testid="pom-data-upload-form">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        @await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("file"))
                    }
                    <label class="govuk-label" for="file">@SharedLocalizer["upload_a_file"]</label>
                    <input class="govuk-file-upload"  name="file" type="file" id="file" data-testid="pom-upload-choose-file-button">
                </div>
                <button class="govuk-button" data-module="govuk-button" type="submit" data-testid="pom-data-upload-button">@Localizer["upload_file"]</button>
            }
        </div>
    </div>
</main>