@using static FrontendSchemeRegistration.Application.Enums.SubmissionPeriodStatus
@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.Constants

@model FileUploadCompanyDetailsSubLandingViewModel

@{
    ViewData["Title"] = Localizer["tab_title"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

@functions
{
    private static string GetClass(SubmissionPeriodStatus status) => status switch
    {
        FileUploaded => "govuk-tag--yellow",
        CannotStartYet => "govuk-tag--grey",
        SubmittedToRegulator => "govuk-tag--yellow",
        SubmittedAndHasRecentFileUpload => "govuk-tag--yellow",
        AcceptedByRegulator => "govuk-tag--green",
        RejectedByRegulator => "govuk-tag--red",
        _ => string.Empty
    };
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.IsComplianceScheme)
            {
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">@Model.ComplianceSchemeName</p>
            }
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@Localizer[Model.IsComplianceScheme ? "report_your_member_organisation_detail" : "report_your_organisation_detail"]</h1>

            <h2 class="govuk-heading-m">@Localizer["before_you_start"]</h2>

            <feature name="@FeatureFlags.EnableSubsidiaryJoinerAndLeaverColumns">
                <p class="govuk-body">
                    @Localizer["read_the_guidance_on"] <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                          href="@GuidanceLinks.HowToReportOrganisationDetails">@Localizer["how_to_report_organisation_details_new_tab"]</a>
                </p>
                <h2 class="govuk-heading-m">@Localizer["if_youve_missed_a_deadline_to_submit"]</h2>
                <p class="govuk-body">
                    @Localizer["if_youve_missed_a_deadline_without_action"] <a href="@GuidanceLinks.HowToBuildCsvFileToReportYourOrganisationData"
                                                                               target="_blank"
                                                                               class="govuk-link"
                                                                               rel="noreferrer noopener">@Localizer["check_the_govuk_guidance_new_tab"]</a>
                </p>
            </feature>
            <feature name="@FeatureFlags.EnableSubsidiaryJoinerAndLeaverColumns" negate="true">
                <p class="govuk-body">
                    @Localizer["read_the_guidance_on"] <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                          href="@GuidanceLinks.HowToReportOrganisationDetails">@Localizer["how_to_report_organisation_details"]</a>
                </p>

                <h2 class="govuk-heading-m">@Localizer["if_youve_missed_a_deadline_to_submit"]</h2>
                <p class="govuk-body">
                    @Localizer["if_youve_missed_a_deadline"] <a href="@GuidanceLinks.HowToBuildCsvFileToReportYourOrganisationData"
                                                                target="_blank"
                                                                class="govuk-link"
                                                                rel="noreferrer noopener">@Localizer["check_the_govuk_guidance"]</a>
                </p>
            </feature>
            @if (Model.IsComplianceScheme)
            {
                <feature name="@FeatureFlags.EnableSubsidiaryJoinerAndLeaverColumns">
                    <h2 class="govuk-heading-m">@Localizer["making_changes_after_april"]</h2>
                    <p class="govuk-body">
                        @Localizer["if_you_need_changes_after_april"],
                        <a class="govuk-link" asp-controller="Landing" asp-action="Get">
                            @Localizer["registration_file_link"]
                        </a>.@Localizer["you_must_report_changes"].
                    </p>

                    <p class="govuk-body">
                        @Localizer["ConfirmationOfRemoval.AddingOrRemovingMembers"] <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="@GuidanceLinks.PrnObligation">@Localizer["ConfirmationOfRemoval.GuidelinesForExtendedProducer"]</a>
                    </p>
                </feature>
            }

            <feature name="@FeatureFlags.ShowAllSubsidiaries">
                @if (!Model.IsComplianceScheme)
                {
                    <h2 class="govuk-heading-s">@Localizer["making_changes_after_april_2025"]</h2>
                    <p class="govuk-body">
                        @Localizer["if_you_need_to_make_changes_after_april_2025"]

                        @Html.ActionLink(
                                 Localizer["update_and_resubmit_registration_file"].Value,
                                        "Get",
                                        "Landing", null,
                                 new { @class = "govuk-link govuk-link--no-visited-state" }
                                 )

                        @Localizer["you_must_report_changes_within_28_days"]
                    </p>
                    <p class="govuk-body">
                        @Localizer["adding_or_removing_members_affect_packaging_obligations"]
                        <a href="@GuidanceLinks.PrnObligation"
                           class="govuk-link"
                           target="_blank"
                           rel="noreferrer noopener">@Localizer["guideline_for_extended_producer_responsibility_link"]</a>

                    </p>
                }
            </feature>
        </div>
    </div>

    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="govuk-!-margin-bottom-7">
            @foreach (var submissionPeriodGroup in Model.SubmissionPeriodDetailGroups)
            {
                <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-5 govuk-list">
                    <h2 class="govuk-heading-m">@submissionPeriodGroup.DatePeriodYear</h2>
                    <div class="card-row govuk-!-margin-bottom-2">
                        @foreach (var submissionPeriodDetail in submissionPeriodGroup.SubmissionPeriodDetails)
                        {
                            <div class="govuk-card govuk-!-margin-top-2">
                                <div class="govuk-card-body">
                                    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                                        @Localizer[Model.IsComplianceScheme ? "report_member_organisation_details_for" : "report_organisation_details_for"] @SharedLocalizer["date1_to_date2", submissionPeriodDetail.DatePeriodStartMonth, submissionPeriodDetail.DatePeriodEndMonth] @submissionPeriodDetail.DatePeriodYear
                                    </h3>
                                    @if (Model.IsComplianceScheme)
                                    {
                                        <p class="govuk-heading-m">@Localizer["large_organisations"]</p>
                                    }
                                    <p class="govuk-body">@Localizer["deadline"] @submissionPeriodDetail.Deadline.ToReadableLongMonthDeadlineDate()</p>
                                    <strong class="@(("govuk-tag " + GetClass(submissionPeriodDetail.Status)).TrimEnd())">@Localizer[submissionPeriodDetail.Status.GetLocalizedName()]</strong>
                                </div>
                                <div class="govuk-card-body">
                                    <feature name="ShowRegistrationResubmission">
                                        @{
                                            if (submissionPeriodDetail.Status.In(AcceptedByRegulator, RejectedByRegulator, FileUploaded, NotStarted))
                                            {
                                                <button type="submit" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" name="dataPeriod" value="@submissionPeriodDetail.DataPeriod">
                                                    @Localizer["inform"]
                                                    @SharedLocalizer["date1_to_date2", submissionPeriodDetail.DatePeriodShortStartMonth, submissionPeriodDetail.DatePeriodShortEndMonth] @submissionPeriodDetail.DatePeriodYear
                                                    @Localizer[Model.IsComplianceScheme ? "member_organisation_details" : "organisation_details"]
                                                </button>
                                            }
                                            else
                                            {
                                                <br />
                                            }
                                        }
                                    </feature>
                                    <feature name="ShowRegistrationResubmission" negate="true">
                                        @{
                                            if (!submissionPeriodDetail.Status.In(CannotStartYet))
                                            {
                                                <button type="submit" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" name="dataPeriod" value="@submissionPeriodDetail.DataPeriod">
                                                    @Localizer["inform"]
                                                    @SharedLocalizer["date1_to_date2", submissionPeriodDetail.DatePeriodShortStartMonth, submissionPeriodDetail.DatePeriodShortEndMonth] @submissionPeriodDetail.DatePeriodYear
                                                    @Localizer[Model.IsComplianceScheme ? "member_organisation_details" : "organisation_details"]
                                                </button>
                                            }
                                            else
                                            {
                                                <br />
                                            }
                                        }
                                    </feature>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">@Localizer["your_history"]</h2>
            <p class="govuk-body">@Localizer["view_your_organisation_data_files"]</p>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" asp-controller="FileUploadCompanyDetailsSubmissionHistory" asp-action="Get">@Localizer["view_submission_history"]</a></p>
        </div>
    </div>
</main>