@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.ViewModels.Shared
@using FrontendSchemeRegistration.Application.Extensions
@model FileUploadBrandsSuccessViewModel

@{
    ViewData["Title"] = Localizer["brand_details_uploaded"];
    
    var organisationName = Model.ShowRegistrationCaption ? User.GetUserData().Organisations.FirstOrDefault()?.Name : null;
    
    var headingViewModel = new ComplianceSchemeRegistrationHeadingViewModel(
        Model.ShowRegistrationCaption,
        Model.RegistrationJourney,
        organisationName,
        null,
        Model.RegistrationYear);
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-notification-banner govuk-notification-banner--success"
                 role="alert"
                 aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title"
                        id="govuk-notification-banner-title">
                        @Localizer["success"]
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        @Localizer["brand_details_uploaded"]
                    </h3>
                    <p class="govuk-body break-word">@Model.FileName</p>
                </div>
            </div>

            <partial name="Partials/_ComplianceSchemeRegistrationHeading" model="headingViewModel" />

            @if (Model.IsResubmission)
            {
                <p class="govuk-body">
                    @Localizer["if_you_think_this_is_incorrect"]
                    @(Html.ActionLink(Localizer["you_can_upload_again"].Value,
                        "Get",
                        "FileReUploadCompanyDetailsConfirmation",
                        new
                        {
                            submissionId = Model.SubmissionId,
                            registrationyear = Model.RegistrationYear
                        },
                        new
                        {
                            @class = "govuk-link"
                        })).
                </p>
            }

            @if (Model.RequiresPartnershipsFile)
            {
                <h2 class="govuk-heading-m">@Localizer["what_happens_next"]</h2>

                <p class="govuk-body">@Localizer["you_need_to_give_partner_details"]</p>

                @Html.ActionLink(Localizer["continue"].Value,
                            "Get",
                            "FileUploadPartnerships",
                            new { submissionId = Model.SubmissionId, registrationyear = Model.RegistrationYear },
                            new { @class = "govuk-button govuk-!-margin-top-5" })
            }
            else
            {
                <h2 class="govuk-heading-m">@Localizer["what_happens_next"]</h2>
                <p class="govuk-body">@Localizer["you_do_not_need_to_report_information"]</p>
                <p class="govuk-body">@Localizer["you_can_now_see_list_files_youve_uploaded_change_if_need"]</p>
                @Html.ActionLink(Localizer["continue"].Value,
                         "Get",
                         "ReviewCompanyDetails",
                         new { submissionId = Model.SubmissionId, registrationyear = Model.RegistrationYear },
                         new { @class = "govuk-button govuk-!-margin-top-5" })
            }
            
            <p class="govuk-body govuk-!-margin-top-4">
                @if (Model.IsComplianceScheme)
                {
                    <a asp-controller="ComplianceSchemeLanding" asp-action="Get" class="govuk-link">@Localizer["return_to_dashboard"]</a>
                }
                else
                {
                    <a asp-controller="FrontendSchemeRegistration" asp-action="HomePageSelfManaged" class="govuk-link">@Localizer["return_to_dashboard"]</a>
                }
            </p>
        </div>
    </div>
</main>