@model SubsidiaryConfirmCompanyDetailsViewModel

@{
    ViewData["Title"] = Localizer["ConfirmCompanyDetails.Title"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form asp-controller="SubsidiaryConfirmCompanyDetails" asp-action="Post" method="post">
                    @Html.HiddenFor(m => m.CompaniesHouseNumber)
                    @Html.HiddenFor(m => m.CompanyName)
                    @Html.HiddenFor(m => m.OrganisationId)
                    @Html.HiddenFor(m => m.IsCompanyAlreadyLinkedToTheParent)
                    @Html.HiddenFor(m => m.IsCompanyAlreadyLinkedToOtherParent)

                    <div class="govuk-form-group">
                        @if (@Model.IsCompanyAlreadyLinkedToTheParent.Value)
                        {
                            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                @Localizer["ConfirmCompanyDetails.IsAlreadyLinkedTo", @Model.CompanyName]: @Model.ParentCompanyName
                            </h1>
                        }
                        else if (@Model.IsCompanyAlreadyLinkedToOtherParent.Value)
                        {
                            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                @Localizer["ConfirmCompanyDetails.IsAlreadyLinkedToOtherParent", @Model.CompanyName]: @Model.OtherParentCompanyName
                            </h1>
                        }
                        else
                        {
                            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                @Localizer["ConfirmCompanyDetails.Header"]
                            </h1>
                        }

                        <div class="govuk-inset-text">
                            @if (@Model.OrganisationId is not null)
                            {
                                <div class="govuk-body">
                                    <div class="govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                                        @Localizer["ConfirmCompanyDetails.OrganisationId"]: @Model.OrganisationId
                                    </div>
                                </div>
                            }

                            <div class="govuk-body">
                                <div class="govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                                    @Model.CompanyName
                                </div>
                            </div>
                            <div class="govuk-body">
                                <div class="govuk-!-margin-bottom-1 ">
                                    @Localizer["ConfirmCompanyDetails.CompanyNumber"]:
                                    <br />
                                    @Model.CompaniesHouseNumber
                                </div>
                            </div>
                            <div class="govuk-body">
                                <div class="govuk-!-margin-bottom-1">
                                    @Localizer["ConfirmCompanyDetails.Address"]:
                                </div>
                                <div>
                                    @{
                                        RenderAddressParts(Model.BusinessAddress?.AddressFields);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                @Localizer["ConfirmCompanyDetails.TheseDetailsAreWrong"]
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                @Localizer["ConfirmCompanyDetails.IfTheseDetails"]:
                            </p>
                            <ul>
                                <li>
                                    @Localizer["ConfirmCompanyDetails.CheckTheCompaniesHouseNumber"]
                                    <a asp-controller="SubsidiaryCompaniesHouseNumber" asp-action="Get" class="govuk-link">
                                        @Localizer["ConfirmCompanyDetails.ChangeYourNumber"]
                                    </a>
                                <li>
                                        @Localizer["ConfirmCompanyDetails.CheckCompaniesHouse"]
                                    <a href="@GuidanceLinks.Value.MakeChangesToYourLimitedCompany" class="govuk-link" target="_blank" rel="noopener noreferrer">
                                            @Localizer["ConfirmCompanyDetails.YouCanChangeThem"]
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </details>

                    @if (@Model.IsCompanyAlreadyLinkedToTheParent.Value)
                    {
                        <p class="govuk-body govuk-!-margin-top-4">
                            <button class="govuk-button" data-module="govuk-button">
                                @Localizer["ConfirmCompanyDetails.SearchAgain"]
                            </button>
                            <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-10 govuk-!-display-inline-block govuk-!-padding-1" asp-controller="SubsidiaryCompaniesHouseNumber" asp-action="Get">@Localizer["ConfirmCompanyDetails.Cancel"]</a>
                        </p>
                    }
                    else if (@Model.IsCompanyAlreadyLinkedToOtherParent.Value)
                    {
                        <p class="govuk-body govuk-!-margin-top-4">
                            <a class="govuk-button" href="@Url.Action("Get", "SubsidiaryCompaniesHouseNumber")" role="button" data-module="govuk-button">
                                @Localizer["ConfirmCompanyDetails.SearchAgain"]
                            </a>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                @SharedLocalizer["continue"]
                            </button>
                            <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-10 govuk-!-display-inline-block govuk-!-padding-1" asp-controller="SubsidiaryCompaniesHouseNumber" asp-action="Get">
                                @Localizer["ConfirmCompanyDetails.Cancel"]
                            </a>
                        </p>
                    }
                    else
                    {
                        <button class="govuk-button" data-module="govuk-button">
                            @SharedLocalizer["continue"]
                        </button>
                    }
                </form>
            </div>
        </div>
    </main>
</div>

@{
    void RenderAddressParts(string?[] addressParts)
    {
        if (addressParts is not null)
        {
            foreach (string part in addressParts.Where(p => !string.IsNullOrWhiteSpace(p)))
            {
                <div>@part</div>
            }
        }
    }
}
