@using FrontendSchemeRegistration.Application.Enums
@using FrontendSchemeRegistration.UI.ViewModels.Shared
@model ComplianceSchemeRegistrationViewModel

@{
    ViewData["Title"] = @Localizer["title"];
}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <h1 class="govuk-heading-l">@Localizer["title"]</h1>

        <partial name="Partials/_ComplianceSchemeRegulatorSubtitle" model="new ComplianceSchemeRegulatorSubTitleViewModel(Model.ComplianceSchemeName, Model.Nation)"/>

        <h2 class="govuk-heading-m">@Model.CurrentRegistrationYear</h2>

        <div class="govuk-grid-row box-container">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper app-summary-card__title-wrapper--no-background">
                        <h2 class="govuk-summary-card__title">
                            <a asp-controller="RegistrationApplication" asp-action="RegistrationTaskList" asp-route-registrationjourney="@RegistrationJourney.CsoSmallProducer" asp-route-registrationyear="@Model.CurrentRegistrationYear" class="govuk-link">
                                @Localizer["current_small_producer_registration_title", @Model.CurrentRegistrationYear]
                            </a>
                        </h2>
                    </div>

                    <div class="govuk-summary-card__content">
                        <p class="govuk-body">@Localizer[$"small_producer_instructions1.{Model.CurrentRegistrationYear}"]</p>
                        <p class="govuk-body">@Localizer[$"small_producer_instructions2.{Model.CurrentRegistrationYear}"]</p>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-column-one-half box">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper app-summary-card__title-wrapper--no-background">
                        <h2 class="govuk-summary-card__title">
                            <a asp-controller="RegistrationApplication" asp-action="RegistrationTaskList" asp-route-registrationjourney="@RegistrationJourney.CsoLargeProducer" asp-route-registrationyear="@Model.CurrentRegistrationYear" class="govuk-link">
                                @Localizer["current_large_producer_registration_title", @Model.CurrentRegistrationYear]
                            </a>
                        </h2>
                    </div>

                    <div class="govuk-summary-card__content">
                        <p class="govuk-body">@Localizer[$"large_producer_instructions1.{Model.CurrentRegistrationYear}"]</p>
                        <p class="govuk-body">@Localizer[$"large_producer_instructions2.{Model.CurrentRegistrationYear}"]</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="govuk-heading-m">@Model.PreviousRegistrationYear</h2>
        <div class="govuk-grid-row box-container">
                @foreach (var registrationApplication in Model.RegistrationApplicationsPerYear)
                {
                    if (registrationApplication.RegistrationYear?.ToString() == @Model.PreviousRegistrationYear.ToString())
                    {
                        registrationApplication.SummaryCardStyling = true;
                        <partial name="~/Views/FrontendSchemeRegistration/RegistrationApplicationYearBlock.cshtml" model="registrationApplication" />
                    }
                }
        </div>
    </main>
</div>