@model FileUploadSuccessViewModel

@{
    ViewData["Title"] = Localizer["upload_brand_details"];
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!ViewData.ModelState.IsValid)
            {
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
            }
            
            @using (Html.BeginForm(FormMethod.Post, new
            {
                enctype = "multipart/form-data",
                @class = "details-file-upload-form"
            }))
            {
                
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")">
                    <h1 class="govuk-heading-l">@Localizer["upload_your_brand_details_file"]</h1>
                    <p class="govuk-caption-m">@Localizer["file_must_be_csv"].</p>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        @await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("file"))
                    }
                    <input class="govuk-file-upload" id="file" name="file" type="file">
                </div>
                <input type="hidden" name="registrationyear" value="@(Model?.RegistrationYear?.ToString() ?? "")" />
                <button class="govuk-button" data-module="govuk-button" type="submit">@Localizer["upload_file"]</button>
            }
        </div>
    </div>
</main>