@inject IOptions<ExternalUrlOptions> ExternalUrls

@model ComplianceSchemeMemberLandingViewModel

@{
    ViewData["Title"] = Localizer["account_name_manager", Model.OrganisationName];
}

<div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

        @if (Model.Notification.HasNominatedNotification)
        {
            @await Html.PartialAsync("Partials/Notifications/_NominatedAsDelegatedPerson", Model.Notification.NominatedEnrolmentId)
        }
        @if (Model.Notification.HasApprovedPersonNominatedNotification)
        {
            @await Html.PartialAsync("Partials/Notifications/_NominatedApprovedPerson", Model.Notification.NominatedApprovedPersonEnrolmentId)
        }
        
        @await Component.InvokeAsync("PendingApprovalNotification")
        @await Component.InvokeAsync("ApprovedPerconInvitationSubmittedNotification")

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
                <h1 class="govuk-heading-xl break-word">
                    @Localizer["account_name_manager", Model.OrganisationName]
                </h1>
            </div>
        </div>

        @if (Model.Notification.HasPendingNotification)
        {
            @await Html.PartialAsync("Partials/Notifications/_WaitingForApproval")
        }

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-inset-text">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">@Localizer["organisation_id", Model.OrganisationNumber]</p>
                    <p class="govuk-body govuk-!-margin-bottom-1">@Localizer["compliance_scheme_name", Model.ComplianceSchemeName]</p>
                    <feature name="ShowWasteTile">
                        <p class="govuk-body govuk-!-margin-bottom-1">
                            <a asp-controller="FrontendSchemeRegistration" asp-action="ManageComplianceScheme" class="govuk-link govuk-link--no-visited-state">
                                @Localizer["change_or_remove_compliance_scheme", Model.OrganisationName]
                            </a>
                        </p>
                    </feature>
                </div>

                <h2 class="govuk-heading-m govuk-!-margin-bottom-3">@Localizer["what_they_are_responsible_for", Model.OrganisationName]</h2>

                <p class="govuk-body">@Localizer["paying_fees_and_charges_to_the_scheme_administrator"]</p>

                @if (Model.CanManageComplianceScheme)
                {
                    <feature negate="true" name="ShowWasteTile">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">@Localizer["change_or_remove_compliance_scheme"]</h2>

                        <p class="govuk-body">
                            @Localizer["you_can"]
                            <a asp-controller="FrontendSchemeRegistration" asp-action="ManageComplianceScheme" class="govuk-link govuk-link--no-visited-state">
                                @Localizer["change_or_remove_compliance_scheme_link", Model.OrganisationName]
                            </a>.
                        </p>
                    </feature>
                    <feature name="@FeatureFlags.ShowWasteTile">
                        <div class="govuk-grid-row box-container">
                            <div class="govuk-grid-column-one-half box">
                                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                                    <div class="govuk-card-body">
                                        <h2 class="govuk-heading-m">
                                            <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank"
                                               href="@ExternalUrls.Value.FinancialServicesSupplier">@Localizer["view_and_pay_waste_disposal_fees"]</a>
                                        </h2>
                                        <p class="govuk-body">@Localizer["go_to_packuk"]</p>
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>@Localizer["pay_the_fees"]</li>
                                            <li>@Localizer["view_previous_payments"]</li>
                                        </ul>
                                        <p class="govuk-body">
                                            <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank"
                                               href="@ExternalUrls.Value.LearnMoreAboutPackUK">@Localizer["learn_more_about_packuk"].</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </feature>
                }

                <h2 class="govuk-heading-m govuk-!-margin-bottom-3">@Localizer["responsible_for", Model.ComplianceSchemeName]</h2>

                <p class="govuk-body">@Localizer["behalf_of_responsible_for", Model.OrganisationName, Model.ComplianceSchemeName]</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>@Localizer["submitting_packaging_data_to_the_environmental_regulator"]</li>
                    <li>@Localizer["reporting_organisation_details_and_keeping_them_up_to_date"]</li>
                    <li>@Localizer["handling_packaging_recovery_notes_(PRNs)_and_packaging_export_recovery_notes_(PERNs)"]</li>
                    <li>@Localizer["paying_fees_and_charges_to_the_environmental_regulator"]</li>
                </ul>
            </div>
        </div>
    </main>
</div>