@model SubsidiaryCompaniesHouseNumberViewModel

@{
    ViewData["Title"] = Localizer["CompaniesHouseNumber.Title"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

@await Html.PartialAsync("Partials/Govuk/_AccountActionBar")

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (!ViewData.ModelState.IsValid)
                {
                    @await Html.PartialAsync("Partials/Govuk/_ErrorsViewModelSummary", errorsViewModel)
                }

                <form asp-controller="SubsidiaryCompaniesHouseNumber" asp-action="Post" method="post">
                    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                            <label for="CompaniesHouseNumber">
                                @Localizer["CompaniesHouseNumber.Question"]
                            </label>
                        </h1>

                        <div class="govuk-hint" id="CompaniesHouseNumber-hint">
                            @Localizer["CompaniesHouseNumber.Hint"]
                        </div>
                     
                        @if (ViewData.ModelState.TryGetValue(nameof(Model.CompaniesHouseNumber), out var entry) && entry.Errors.Any())
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">@SharedLocalizer["hidden_error"]</span>
                                @Localizer[entry.Errors[0].ErrorMessage]
                            </p>
                        }
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" type="text"
                                   type="text"
                                   gov-for="CompaniesHouseNumber"
                                   gov-value="@Model.CompaniesHouseNumber"
                                   aria-describedby="CompaniesHouseNumber-hint">
                        </div>
                    </div>
                    
                    <div class="govuk-body">
                        <a href="@ViewBag.FindAndUpdateCompanyInformationLink" class="govuk-link" target="_blank" rel="noopener noreferrer">@Localizer["CompaniesHouseNumber.LinkDescription"]</a>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>